.main-rewards {
  padding: 4px 6px;
}

.charge span {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  font-family: 'poppins';
  border-bottom: 2px solid var(--primary-color) !important;
  padding-bottom: 10px;

}

.charge {
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 10px;
}

/*card style star*/
.card-grid-div {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  margin: 10px;
}

.card-grid-div mat-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  box-shadow: 0px 0px 5px 0px var(--grey);
  border-radius: 10px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-medium {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 2px !important;
}

.card-bottom {
  font-size: 14px;
  font-weight: 500;
  color: var(--grey-sec) !important;
}

.card-top .img_first {
  height: 64px;
}

.card-top .img_second {
  height: 14px;
  width: 67px;
}

.card-medium {
  font-size: 30px;
  font-weight: 700;
}

.card-bottom {
  color: var(--lightgray);
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width:768px) {
  .card-grid-div {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin: 10px;
  }
}

@media screen and (max-width:640px) {
  .card-grid-div {
    display: grid;
    grid-template-columns: auto;
    gap: 1rem;
    margin: 10px;
  }
}

@media screen and (max-width:768px) {
  .card-grid-two {
    display: grid;
    grid-template-columns: auto auto;
    gap: 60px;
    margin: 10px;
  }
}

@media screen and (max-width:640px) {
  .card-grid-two {
    display: grid;
    grid-template-columns: auto;
    gap: 60px;
    margin: 10px;
  }
}


/* table css */
.charge span {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  font-family: 'poppins';
  border-bottom: 2px solid var(--primary-color) !important;
  padding-bottom: 10px;

}

.charge {
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 10px;
}

/*sub heading style start*/

.result-statistics-div {
  padding: 40px 20px;
  margin-top: 20px;
  /* border-top: 1px solid var(--primary-color); */
  position: relative;
}

.result-statistics {
  font-size: 20px;
  font-weight: 500;
  background-color: var(--white);
  display: flex !important;
  flex-direction: row;
  align-items: center !important;

  width: 100%;
  /* justify-content: center; */
  gap: 10px;
  text-wrap: nowrap;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 500px) {

  ::ng-deep .result-statistics-div {
    display: flex;
    flex-direction: column;
    gap: 80px;
    position: relative;
  }

  .result-statistics {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: absolute;

  }
}

.my-quizzer-heading-div {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 20px;
  margin: 0px 19px;
  font-weight: 700;


}


.result-statistics p {
  margin: 0;
}

.quizzers-arrow-line-div {
  display: flex;
  align-items: center;
  gap: -1;
  width: 100%;
}

.quizzers-arrow-icon {
  color: var(--primary-color);
  font-size: 15px;
  width: fit-content;
  height: 100% !important;
}

.quizzers-pink-line {
  border: 1px solid var(--primary-color);
  width: 100%;
  opacity: 40%;
  padding: 0 !important;
  margin: 0 !important;


}


/* mat card css start */

.cards-2-reward {

  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px var(--grey);
}

.img-content-reward {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 0px 5px 0px var(--grey);
  padding: 10px;
}

.img-content-reward-div {

  box-shadow: 0px 0px 5px 0px var(--grey);
  padding: 20px;

}

.img-content-reward1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px solid var(--grey);
  border-radius: 6px;
  gap: 10px;
  padding: 4px;
  margin-bottom: 10px;

}

.img-content-reward2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

}

.leader {
  font-weight: 700;
  margin: 0px;
  font-size: 16px;
}

.want-to {
  font-weight: 700;
  font-size: 16px;
  margin: 0px;
}

.innerchile-left-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}

.innerchile-right-flex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.img-reward-content {
  display: flex;
  align-items: center;
}

.innerchild-flex {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--grey);
  border-radius: 6px;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

/* .innerchild-flex .mat-body, .mat-body-2, .mat-typography .mat-body, .mat-typography .mat-body-2, .mat-typography{
    line-height: 0px !important;
  } */
.name {
  font-size: 16px;
  margin: 0px;
}

.int-points1 {
  text-align: center;
  font-size: 10px;
  color: var(--grey-sec);
  margin: 0px;
}

.int-points {
  margin: 0px;
  font-size: 10px;
  color: var(--grey-sec);
}

.viewmore-btn {
  border: 2px solid var(--grey);
  font-size: 14px;
  border-radius: 10px !important;

}

.viewmore-btn button {
  color: var(--grey-sec);

}

.content-reward {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-reward1 {
  font-size: 16px;
  font-weight: 700;
}

.content-reward2 {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: var(--grey-sec);
}

.content-reward3 {
  color: var(--lightgreen);
  font-size: 30px;
  font-weight: 600;
}

.btn-2-parent {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-2-parent .btn-convert {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn-2-parent .btn-browser {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

@media screen and (max-width:1024px) {
  .cards-2-reward {
    display: grid;
    grid-template-columns: auto;
  }
}

@media screen and (max-width:520px) {
  .img-content-reward {
    display: flex;
    flex-direction: column;
  }

  .img-content-reward2 {
    display: flex;
    flex-direction: column;
  }

  .btn-2-parent {
    display: flex;
    flex-direction: column;
  }

  .img-content-reward1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}


/* table css start */
.table-slider {
  padding: 10px 4px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px var(--grey);
}

table {
  width: 100%;
  text-wrap: nowrap;
}

.quizzer-table-div {
  overflow-x: auto;
  border-radius: 10px !important;
  text-wrap: nowrap;
  table-layout: auto;
}

.type {
  color: var(--lightgreen);
}

.td-text-p1 {
  font-size: 12px;
  font-weight: 400;
}

.td-text-p2 {
  font-size: 10px;
  font-weight: 400;
  color: var(--grey-sec);
}

.quizzer-text-green {
  color: var(--lightgreen);
}

.quizzer-text-orange {
  color: var(--accent-color);
}

.quizzer-text-red {
  color: var(--red);
}

.quizzer-date-td {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 400;
}

.reg-12 {
  font-size: 12px;
  font-weight: 400;
  background-color: #FAFAFD;


}

.dist {
  margin-top: 80px;
}

/* .mat-mdc-cell{
    border: none;
   
} */


/* button slider start */
.button-slider {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.btn-slider {
  border-radius: 100px;
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  font-size: 24px;
  background-color: var(--white);
}

.btn-slider:hover {
  background-color: var(--blue);
  color: var(--white);
}

.bt-icon {
  border-radius: 100px;
  padding: 10px 10px;
  margin-left: 10px;
  border: 2px solid var(--grey-sec);
  color: var(--grey-sec);
  font-size: 24px;
  background-color: var(--white);
}

.bt-icon:hover {
  border-color: var(--blue);
  color: var(--blue);
}

.btn-div {
  display: flex;
  justify-content: space-between;
  box-shadow: 2px 2px 2px 2px var(--grey-sec);
  border-radius: 100px;
  padding: 2px 10px;
}

@media screen and (max-width:500px) {
  .btn-slider {
    padding: 0px 10px;
    font-size: 10px;
  }

  .bt-icon {
    padding: 2px 2px;
  }

  .button-slider {
    margin-top: 10px;
  }
}

.mat-mdc-header-row {
  background: none !important;
  color: var(--white) !important;
  font-size: 14px;
  font-weight: 500;
}

::ng-deep thead,
.mat-mdc-header-row .mdc-data-table__header-row .cdk-header-row {
  background-image: linear-gradient(to right, var(--blue), var(--primary-color)) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  text-wrap: nowrap;
}

.mat-mdc-header-row th {
  color: white !important;
}

::ng-deep .calendar-input-field .mat-mdc-form-field-infix {
  display: flex !important;
  flex-direction: row !important;
  gap: 10px;
  padding: 0 !important;
  width: 100% !important;
}

::ng-deep .calendar-input-field .mdc-text-field {
  padding: 0 !important;
}

::ng-deep .calendar-input-field {
  width: 100% !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  width: 100% !important;
}

::ng-deep .form-field {
  width: 100% !important;
}

.mat-card,
.mdc-card {
  background-color: var(--white) !important;
}