<div class="main_div">
    <div
      class="back_img_div"
      style="background-image: url(assets/images/featrue_img.png)"
    >
      <div class="padd_div">
        <p class="excel_text">Travel Management Course</p>
        <!-- <p class="ex_para">Travel Management Course</p> -->
  
        <button mat-raised-button class="btn_man">
          in <a href="#" class="colb"> &nbsp;Management</a>
        </button>
        <div  class="rating_tet">
          <i class="fa-solid fa-star star_div"></i
          ><i class="fa-solid fa-star star_div"></i
          ><i class="fa-solid fa-star star_div"></i
          ><i class="fa-solid fa-star star_div"></i
          ><i class="fa-solid fa-star-half-stroke star_div"></i>
          <span class="gren_div">4.05</span>
          (1 Ratings)
        </div>
        <p class="creet_by_text">Created by<a href="#" class="colb"> &nbsp;Robert Ransdell</a></p>
        <mat-slider class="mt-silder">
          <input matSliderThumb />
        </mat-slider>
      </div>
    </div>
    <div class="inn_div">
      <div class="main_flex_pro">
        <div class="left_div_sil">
          <mat-card class="pad_div p10">
            <div class="inner_right">
              <mat-card-header class="p0 mat_header_div"
                ><picture class="text-center pro_user">
                  <img
                    mat-card-image
                    src="assets/images/feat1.png"
                    alt="img"
                    class="w100"
                  />
                </picture>
              </mat-card-header>
  
              <mat-card-content class="mt_content">
                <!-- <mat-card-title class="my2">James Kong</mat-card-title> -->
                <mat-card-subtitle>
                  <div class="foll_div">
                    <!-- <mat-radio-group aria-label="Select an option"
                      ><div class="my2">
                        <mat-radio-button value="1"
                          ><p class="gold_text">Golden Offer (50% Off)</p>
                          <p class="fir_text">
                            For first 20 students until 14 dezembro 2021
                          </p>
                        </mat-radio-button>
                      </div>
                      <div class="my2">
                        <mat-radio-button value="2"
                          ><p class="gold_text">Silver Offer (20% Off)</p>
                          <p class="fir_text">
                            For first 20 students until 14 dezembro 2021
                          </p></mat-radio-button
                        >
                      </div>
                    </mat-radio-group> -->
                    <p class="dol_text">Free</p>
                    <!-- <button mat-stroked-button class="post_btn">
                      Add to Cart
                    </button>
                    <button mat-stroked-button class="sub_btn">Subscribe</button> -->
                    <button mat-stroked-button class="buy_btn">Buy Now</button>
                  </div>
                </mat-card-subtitle>
                <p class="day_text">
                  <mat-icon class="mr2">thumb_up</mat-icon> 5 Days money back
                  guarantee
                </p>
                <p class="live_ui_text">This Live class includes:</p>
                <mat-list>
                  <mat-list-item>
                    <div class="list_styl">
                      <img src="assets/images/ic1.png" alt="cdv" />
                      <span matLine class="ml1"> Official certificate</span>
                    </div>
                  </mat-list-item>
                  <mat-list-item>
                    <div class="list_styl">
                      <img src="assets/images/ic2.png" alt="cdv" />
                      <span matLine class="ml1"> 1 online quizzes</span>
                    </div>
                  </mat-list-item>
                  <mat-list-item>
                    <div class="list_styl">
                      <img src="assets/images/ic3.png" alt="cdv" />
                      <span matLine class="ml1">Instructor support</span>
                    </div>
                  </mat-list-item>
                </mat-list>
                <!-- btn start -->
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                  <!-- <mat-button-toggle value="bold">
                    <mat-icon>calendar_today</mat-icon>
                    <p class="reme_text">Reminder</p></mat-button-toggle
                  > -->
                  <mat-button-toggle value="italic" class="lin_heil">
                    <mat-icon>favorite_border</mat-icon>
                    <p class="reme_text">Favorite</p>
                  </mat-button-toggle>
                  <mat-button-toggle value="underline"
                    ><mat-icon>share</mat-icon>
                    <p class="reme_text">Share</p></mat-button-toggle
                  >
                </mat-button-toggle-group>
                <p class="report">Report this course</p>
                <!-- btn end -->
              </mat-card-content>
            </div>
          </mat-card>
          <!-- get cashback start -->
          <!-- <div class="gren_div_get">
            <div class="f_div_s">
              <picture><img src="assets/images/get.png" alt="img" /></picture>
              <div>
                <p class="get_text">Get Cashback</p>
                <p class="get_inner_text">
                  By purchasing this product, you will get $10 as cashback.
                </p>
              </div>
            </div>
          </div> -->
          <!-- get cahback end -->
          <!-- gift start -->
  
          <div class="grey_div">
            <div class="f_div_s">
              <picture><img src="assets/images/git.png" alt="img" /></picture>
              <div>
                <p class="get_text">Gift ths Course</p>
                <p class="get_inner_text">Send this course as a gift to your friends</p>
              </div>
            </div>
          </div>
  
          <!-- gift end -->
          <!-- live class section start -->
          <div class="main_bod_div">
            <div class="blu_bg"><p class="m0">Course specifications</p></div>
            <div class="p_div_get">
              <!-- <div class="fl_div"> -->
                <!-- <div class="flex align_center justify-center">
                  <mat-icon class="watch_icon">calendar_today</mat-icon>
                  <p class="ml_m0_div">Start Date :</p>
                </div>
                <div><p class="ml_m0_div">19 mar 2026 | 16:30</p></div> -->
              <!-- </div> -->
              <div class="fl_div">
                <div class="flex align_center justify-center">
                  <mat-icon class="watch_icon"> contacts</mat-icon>
                  <p class="ml_m0_div">Capacity:</p>
                </div>
                <div><p class="ml_m0_div">10 Students</p></div>
              </div>
              <div class="fl_div">
                <div class="flex align_center justify-center">
                  <mat-icon class="watch_icon">watch_later</mat-icon>
                  <p class="ml_m0_div">Duration :</p>
                </div>
                <div><p class="ml_m0_div">1:40 Hours</p></div>
              </div>
              <div class="fl_div">
                <div class="flex align_center justify-center">
                  <mat-icon class="watch_icon">group</mat-icon>
                  <p class="ml_m0_div">Students:</p>
                </div>
                <div><p class="ml_m0_div">2</p></div>
              </div>
              <div class="fl_div">
                <div class="flex align_center justify-center">
                  <p class="ml_m0_div-no">Files :</p>
                </div>
                <div><p class="ml_m0_div">3</p></div>
              </div>
              <div class="fl_div">
                <div class="flex align_center justify-center">
                  <p class="ml_m0_div-no">Created Date:    13 Jul 2021</p>
                </div>
                <!-- <div><p class="ml_m0_div">3</p></div> -->
              </div>
            </div>
          </div>
          <!-- live class section end -->
          <!-- card secika start -->
          <mat-card class="pad_div_s p10">
            <picture class="abso_img"
              ><img src="assets/images/jas.png" alt="img" /></picture
            ><mat-card-content class="mt_content_s">
              <mat-card-title class="jessika_text"> Light Moon</mat-card-title>
              <mat-card-subtitle class="sub_titl"> Building Better Professionals </mat-card-subtitle>
  <div class="star-btn">
              <p class="icon_star_mar">
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i>
              </p>
              <p class="num-btn">5.00</p>
            </div>
              <div class="icon_img">
                <img src="assets/images/p_icon1.png" alt="icon" />
                <img src="assets/images/p_icon2.png" alt="icon" class="" />
                <img src="assets/images/p_icon3.png" alt="icon" />
                <img src="assets/images/p_icon4.png" alt="icon" />
                <img src="assets/images/p_icon5.png" alt="icon" />
                <img src="assets/images/p_icon6.png" alt="icon" />
              </div>
              <div class="profile-btn-div">
                <button mat-raised-button class="btn_profile">Profile</button>
                <!-- <button mat-raised-button class="btn_pro">Book a Meeting</button> -->
              </div>
              </mat-card-content>
              </mat-card>
          <!-- card secika end -->
          <!-- second card section start -->
          <mat-card class="pad_div_s p10">
            <picture class="abso_img"
              ><img src="assets/images/jas.png" alt="img" /></picture
            ><mat-card-content class="mt_content_s">
              <mat-card-title class="jessika_text"> Jessica Wray </mat-card-title>
              <mat-card-subtitle class="sub_titl"> Network Technician at Cisco </mat-card-subtitle>
  
              <div class="star-btn">
                <p class="icon_star_mar">
                  <i class="fa-solid fa-star star_div"></i>
                  <i class="fa-solid fa-star star_div"></i>
                  <i class="fa-solid fa-star star_div"></i>
                  <i class="fa-solid fa-star star_div"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
                <p class="num-btn">4.75</p>
              </div>
              <div class="icon_img">
                <img src="assets/images/p_icon1.png" alt="icon" />
                <img src="assets/images/p_icon2.png" alt="icon" class="" />
                <img src="assets/images/p_icon3.png" alt="icon" />
                <img src="assets/images/p_icon4.png" alt="icon" />
                <img src="assets/images/p_icon5.png" alt="icon" />
                <img src="assets/images/p_icon6.png" alt="icon" />
              </div>
              <div class="btn_gap">
                <button mat-raised-button class="btn_pro">Profile</button>
                <button mat-raised-button class="btn_pro">Book a Meeting</button>
              </div></mat-card-content
            ></mat-card
          >
          <!-- second card section end -->
          <!-- tag section start -->
          <div class="main_bod_div my15">
            <div class="blu_bg"><p class="m0">Tags</p></div>
            <div class="btn_group">
              <button mat-raised-button class="btn_pin">travel</button>
              <button mat-raised-button class="btn_pin">Travel Management</button>
              <button mat-raised-button class="btn_pin">trip</button>
            </div>
          </div>
          <!-- tag section end -->
          <!-- img on grid start -->
          <div>
            <img src="assets/images/si_im.png" alt="img" class="w100"/>
            <img src="assets/images/si2_im.png" alt="img" class="w100"/>
          </div>
          <!-- img on grid end -->
        </div>
        <div class="pading_top">
          <div class="inner_flex">
            <!-- <div class="inner_flex_div"> -->
            <!-- tab section start -->
            <mat-tab-group >
              <mat-tab label="Information" class="tab_mat_active">
                <app-course-information></app-course-information>
              </mat-tab>
              <mat-tab label="Content">
                <app-course-content></app-course-content>
              </mat-tab>
              <mat-tab label="Reviews">
                <app-course-reviewtab></app-course-reviewtab>
              </mat-tab>
            </mat-tab-group>
            <!-- tab sectionend -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  