<div class="main-chargeAc">

    <div class="charge">
        <span>Charge account</span>
    </div>
    <!-- sub hedaing  -->
    <div class="sub-heading-div">
        <p class="sub-heading">Account summary</p>
        <i class="fa-solid fa-caret-right"></i>
        <p class="arrow-line"></p>
    </div>
    <!-- sub hedaing close -->
    <!--cards-->
    <div class="card-grid-div">
        <!-- First Card -->
        <mat-card>
            <div class="card-top">
                <div>
                    <img src="../assets/Financial/img1.png" alt="" class="img_first">
                </div>
                <div>
                    <img src="../assets/Financial/stoke.png" alt="" class="img_second">
                </div>
            </div>
            <div class="card-down">
                <p class="card-medium">$251.40</p>
                <p class="card-bottom">Account charge</p>
            </div>
        </mat-card>
        <!-- Second Card -->
        <mat-card>
            <div class="card-top">
                <div>
                    <img src="../assets/Financial/img2.png" alt="" class="img_first">
                </div>
                <div>
                    <img src="../assets/Financial/stoke.png" alt="" class="img_second">
                </div>
            </div>
            <div class="card-down">
                <p class="card-medium">$46.50</p>
                <p class="card-bottom">Ready to payout</p>
            </div>
        </mat-card>
        <!-- Third Card -->
        <mat-card>
            <div class="card-top">
                <div>
                    <img src="../assets/Financial/img3.png" alt="" class="img_first">
                </div>
                <div>
                    <img src="../assets/Financial/stoke.png" alt="" class="img_second">
                </div>
            </div>
            <div class="card-down">
                <p class="card-medium">$46.50</p>
                <p class="card-bottom">Total income</p>
            </div>
        </mat-card>
    </div>
    <!--end cards-->
    <!--select a payment section start-->
    <!-- sub hedaing  -->
    <div class="sub-heading-div">
        <p class="sub-heading">Select a payment gateway</p>
        <div class="arrow-line-div">
            <i class="fa-solid fa-caret-right second_icon"></i>
            <p class="arrow-line"></p>
        </div>
    </div>
    <!-- sub hedaing close -->
    <!--cards-->
    <div class="payment">
        <div class="card-grid-two">
            <!-- First Card -->
            <mat-card>
                <div class="card-top-section">
                    <img src="../assets/Financial/p1.png" alt="">
                    <p class="card-medium">Pay with <span class="span_bold"> Alipay</span></p>
                </div>
            </mat-card>
            <!-- Second Card -->
            <mat-card>
                <div class="card-top-section">
                    <img src="../assets/Financial/p2.png" alt="">
                    <p class="card-medium">Pay with<span class="span_bold"> Authorize.net</span></p>
                </div>
            </mat-card>
            <!-- Third Card -->
            <mat-card>
                <div class="card-top-section">
                    <img src="../assets/Financial/p3.png" alt="">
                    <p class="card-medium">Pay with <span class="span_bold"> Bitpay</span></p>
                </div>
            </mat-card>
            <!-- fourth Card -->
            <mat-card>
                <div class="card-top-section">
                    <img src="../assets/Financial/p4.png" alt="">
                    <p class="card-medium">Pay with <span class="span_bold"> Cashu</span></p>
                </div>
            </mat-card>
            <!-- fifth Card -->
            <mat-card>
                <div class="card-top-section">
                    <img src="../assets/Financial/p5.png" alt="">
                    <p class="card-medium">Pay with<span class="span_bold"> Flutterwave </span></p>
                </div>
            </mat-card>
            <!-- sixth Card -->
            <mat-card>
                <div class="card-top-section">
                    <img src="../assets/Financial/p6.png" alt="">
                    <p class="card-medium">Pay with<span class="span_bold"> Iyzipay</span></p>
                </div>
            </mat-card>
            <!-- seven Card -->
            <mat-card>
                <div class="card-top-section">
                    <img src="../assets/Financial/p7.png" alt="">
                    <p class="card-medium">Pay with <span class="span_bold"> KlarnaCheckout</span></p>
                </div>
            </mat-card>
            <!-- eight Card -->
            <mat-card>
                <div class="card-top-section">
                    <img src="../assets/Financial/p8.png" alt="">
                    <p class="card-medium">Pay with <span class="span_bold"> MercadoPago</span></p>
                </div>
            </mat-card>
            <!-- nine Card -->
            <mat-card>
                <div class="card-top-section">
                    <img src="../assets/Financial/p8.png" alt="">
                    <p class="card-medium">Pay with <span class="span_bold"> Midtrans</span></p>
                </div>
            </mat-card>
        </div>
    </div>
    <!--end cards-->
    <!--select a payment section end-->
    <!--disable payment section start-->
    <div class="disable">
        <div>
            <img src="../assets/Financial/gift.png">
        </div>
        <div>
            <h5>Disabled payment gateways</h5>
            <p>You can not process your payment using the following gateways because they don't support your selected
                currency. Please change the currency if you want to make payments using them.</p>
        </div>
    </div>
    <!--disable payment section end-->
    <!--three card section strat-->
    <div class="payment">
        <div class="card-grid-two">
            <!-- First Card -->
            <mat-card>
                <div class="card-top-section">
                    <img src="../assets/Financial/img_1.png" alt="">
                    <p class="card-medium">Pay with<span class="span_bold"> Instamojo</span></p>
                </div>
            </mat-card>
            <!-- Second Card -->
            <mat-card>
                <div class="card-top-section">
                    <img src="../assets/Financial/img_2.png" alt="">
                    <p class="card-medium">Pay with<span class="span_bold"> Paysera</span></p>
                </div>
            </mat-card>
            <!-- Third Card -->
            <mat-card>
                <div class="card-top-section">
                    <img src="../assets/Financial/img_3.png" alt="">
                    <p class="card-medium">Pay with<span class="span_bold"> Paytm </span></p>
                </div>
            </mat-card>
        </div>
    </div>
    <!--three card section end-->

    <!-- finalize payment start -->
    <div class="sub-heading-div">
        <p class="sub-heading">Finalize payment</p>
        <div class="arrow-line-div">
            <i class="fa-solid fa-caret-right second_icon"></i>
            <p class="arrow-line"></p>
        </div>
    </div>
    <!-- finalize payment end -->


    <!-- form -->

    <div class="form-div">

        <div class="form-row">

            <div class="in-form-row">
                <mat-label class="form-input-label">Amount </mat-label><br />

                <div class="calendar-input-field">

                    <mat-form-field appearance="outline" class="form-field">

                        <img src="../../assets/Quizzes/Group 340247.png" alt="" class="calendar-img">

                        <input matInput class="input">

                    </mat-form-field>

                </div>

            </div>


            <div class="in-form-row button-div">
                <button mat-raised-button class="show-result-button">Pay</button>
            </div>

        </div>
    </div>



    <!-- sub hedaing  -->
    <div class="sub-heading-div">
        <p class="sub-heading">Bank accounts information</p>
        <i class="fa-solid fa-caret-right"></i>
        <p class="arrow-line"></p>
    </div>
    <!-- sub hedaing close -->
    <!--cards-->
    <div class="bank-grid">
        <!-- First Card -->
        <mat-card class="bank-inner-grid">

            <div class="bank-img">
                <img src="../assets/Financial/Rectangle 4839.png" alt="" class="">
            </div>
            <div>
                <div class="account-name-bank">
                    <p class="card-medium">Name:</p>
                    <p class="card-bottom">State Bank Of India</p>
                </div>
                <div class="account-name-bank">
                    <p class="card-medium">Card Number:</p>
                    <p class="card-bottom">6282-4518-1237-7641</p>
                </div>
                <div class="account-name-bank">
                    <p class="card-medium">Account ID:</p>
                    <p class="card-bottom">56238341127</p>
                </div>
                <div class="account-name-bank">
                    <p class="card-medium">IBAN:</p>
                    <p class="card-bottom">IN37ABNA2422193788</p>
                </div>
            </div>
        </mat-card>
        <!-- Second Card -->
        <mat-card class="bank-inner-grid">

            <div class="bank-img">
                <img src="../assets/Financial/Rectangle 4839 (1).png" alt="" class="">
            </div>
            <div>
                <div class="account-name-bank">
                    <p class="card-medium">Name:</p>
                    <p class="card-bottom">State Bank Of India</p>
                </div>
                <div class="account-name-bank">
                    <p class="card-medium">Card Number:</p>
                    <p class="card-bottom">6282-4518-1237-7641</p>
                </div>
                <div class="account-name-bank">
                    <p class="card-medium">Account ID:</p>
                    <p class="card-bottom">56238341127</p>
                </div>
                <div class="account-name-bank">
                    <p class="card-medium">IBAN:</p>
                    <p class="card-bottom">IN37ABNA2422193788</p>
                </div>
            </div>
        </mat-card>
        <!-- Third Card -->
        <mat-card class="bank-inner-grid">

            <div class="bank-img">
                <img src="../assets/Financial/Rectangle 4839 (2).png" alt="" class="">
            </div>
            <div>
                <div class="account-name-bank">
                    <p class="card-medium">Name:</p>
                    <p class="card-bottom">State Bank Of India</p>
                </div>
                <div class="account-name-bank">
                    <p class="card-medium">Card Number:</p>
                    <p class="card-bottom">6282-4518-1237-7641</p>
                </div>
                <div class="account-name-bank">
                    <p class="card-medium">Account ID:</p>
                    <p class="card-bottom">56238341127</p>
                </div>
                <div class="account-name-bank">
                    <p class="card-medium">IBAN:</p>
                    <p class="card-bottom">IN37ABNA2422193788</p>
                </div>
            </div>
        </mat-card>
    </div>
    <!--end cards-->


    <!-- table -->

    <!-- My quizzes -->
    <div class="result-statistics-div">

        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Offline transactions history</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>

        </div>


        <div class="quizzer-table-div">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


                <!-- Quiz Column -->
                <ng-container matColumnDef="Title">
                    <th mat-header-cell *matHeaderCellDef> Bank </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="td-text-div">
                            <p class="td-text-p1"> {{element.Title.text}}</p>

                            <p class="td-text-p2"> {{element.Title.Text}}</p>
                        </div>
                    </td>
                </ng-container>

                <!-- Quiz Grade Column -->
                <ng-container matColumnDef="Amount">
                    <th mat-header-cell *matHeaderCellDef>Reference Code </th>
                    <td mat-cell *matCellDef="let element" class="reg-12"> {{element.Amount}} </td>
                </ng-container>

                <!--Due_Date Column -->
                <ng-container matColumnDef="Due_Date">
                    <th mat-header-cell *matHeaderCellDef>Amount ($)</th>

                    <td mat-cell *matCellDef="let element" class="reg-12 amount"> {{element.Due_Date}} </td>

                </ng-container>



                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Attachment </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="quizzer-date-td"
                            [ngClass]="element.date == 'View' ? 'quizzer-text-green' : 'quizzer-text-black'  ">
                            <span> {{element.date}}</span>

                        </div>

                    </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>Status </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="quizzer-date-td">
                            <div
                                [ngClass]="element.status.text == 'Approved' ? 'quizzer-text-green' : 'quizzer-text-yellow'  ">
                                <p>{{element.status.text}} </p>
                                <!-- <p class="td-text-p2">{{element.status.Text}} </p> -->
                            </div>

                        </div>
                    </td>
                </ng-container>
                <!-- Status Column -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> Actions</th>
                    <td mat-cell *matCellDef="let element">

                        <button mat-button [matMenuTriggerFor]="menu">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" viewBox="0 0 20 20">
                                <!-- three dot icon start -->
                                <g fill="currentColor">
                                    <circle cx="10" cy="15" r="2" />
                                    <circle cx="10" cy="10" r="2" />
                                    <circle cx="10" cy="5" r="2" />
                                </g>
                                <!-- three dot icon end -->
                            </svg></button>
                        <mat-menu #menu="matMenu">
                            <div class="icon-edit">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon1" width="3em" height="3em"
                                    viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M19 19V5H5v14zm0-16a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-2.3 6.35l-1 1l-2.05-2.05l1-1c.21-.22.56-.22.77 0l1.28 1.28c.22.21.22.56 0 .77M7 14.94l6.06-6.06l2.06 2.06L9.06 17H7z" />
                                </svg>
                                <button mat-menu-item>Edit</button>
                            </div>
                            <div class="icon-edit" (click)="deletepopup()">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon2" width="2em" height="2em"
                                    viewBox="0 0 24 24">
                                    <path fill="currentColor"
                                        d="M7 21q-.825 0-1.412-.587T5 19V6H4V4h5V3h6v1h5v2h-1v13q0 .825-.587 1.413T17 21zM17 6H7v13h10zM9 17h2V8H9zm4 0h2V8h-2zM7 6v13z" />
                                </svg>
                                <button mat-menu-item>Delete</button>
                            </div>

                        </mat-menu>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>

    </div>

</div>