<div class="centerpartdiv" id="showadd">

    <!-- pop up div -->
    <div class="upperpart">
        <div class="spandiv">
            <span class="deletespan">Activate offline status</span>
        </div>
    </div>
    <div class="confirmdelete">
        <div class="parapart">
            <span>If you put your account offline, a message will be displayed in your profile and it will be noticed to
                users. You can type a personalized message in the following input.</span>
        </div>
        <mat-label class="Offline">Offline message</mat-label>
        <textarea matInput class="full-width-textarea"></textarea>
    </div>
    <div class="buttondiv">
        <div class="example-button-row">
            <button mat-raised-button (click)="yespopup()" class="yes_btn" mat-dialog-close>Yes; Mark all as
                read!</button>
            <button mat-raised-button class="close" mat-dialog-close>Close</button>

        </div>

    </div>


</div>