 <div class="main-notification">
<p class="my-result-heading">Notifications</p>
 
 <!-- Notifications -->
 <div class="result-statistics-div">
    <div class="result-statistics">
        <div class="my-quizzer-heading-div">
            <p>Notifications</p>

            <div class="quizzers-arrow-line-div">
                <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                <p class="quizzers-pink-line m0"></p>
            </div>
        </div>

        <div class="text-with-toggle-div">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon-right" width="1em" height="1em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M19 7a2 2 0 1 1 0-4a2 2 0 0 1 0 4M4 15.5c3-1 5.5-.5 8 4.5c.5-3 2-7.5 3.5-10"/></svg>
            <button class="mark-btn" (click)="markpopup()" > Mark all notifications as read</button>
            
        </div>

    </div>

<div class="card-slider">
<div class="main-card">
    <!-- card 1 -->
    <mat-card class="card-year  ">
        <mat-card-header >
            <mat-card-title class="card-year-child  ">Course approve</mat-card-title>
            <mat-card-title class="card-year-child2  ">17 Sep 2023 | 11:57</mat-card-title>

        </mat-card-header>
        <mat-card-header class="between-content">
            <mat-card-title class="card-year-child2  ">your course with title New Learning Page approved</mat-card-title>
                </mat-card-header>
                <div class="btn-parent">
                <button class="view-btn" (click)="viewClick()"> View</button>
            </div>
    </mat-card>
    <!-- card 2 -->
    <mat-card class="card-year  ">
        <mat-card-header >
            <mat-card-title class="card-year-child  ">Course approve</mat-card-title>
            <mat-card-title class="card-year-child2  ">17 Sep 2023 | 11:57</mat-card-title>

        </mat-card-header>
        <mat-card-header class="between-content">
            <mat-card-title class="card-year-child2  ">your course with title New Learning Page approved</mat-card-title>
                </mat-card-header>
                <div class="btn-parent">
                <button class="view-btn" > View</button>
            </div>
    </mat-card>
    <!-- card 3 -->
    <mat-card class="card-year  ">
        <mat-card-header >
            <mat-card-title class="card-year-child  ">Course approve</mat-card-title>
            <mat-card-title class="card-year-child2  ">17 Sep 2023 | 11:57</mat-card-title>

        </mat-card-header>
        <mat-card-header class="between-content">
            <mat-card-title class="card-year-child2  ">your course with title New Learning Page approved</mat-card-title>
                </mat-card-header>
                <div class="btn-parent">
                <button class="view-btn" > View</button>
            </div>
    </mat-card>
    <!-- card 4 -->
    <mat-card class="card-year  ">
        <mat-card-header >
            <mat-card-title class="card-year-child  ">Course approve</mat-card-title>
            <mat-card-title class="card-year-child2  ">17 Sep 2023 | 11:57</mat-card-title>

        </mat-card-header>
        <mat-card-header class="between-content">
            <mat-card-title class="card-year-child2  ">your course with title New Learning Page approved</mat-card-title>
                </mat-card-header>
                <div class="btn-parent">
                <button class="view-btn" > View</button>
            </div>
    </mat-card>
    <!-- card 5 -->
    <mat-card class="card-year  ">
        <mat-card-header >
            <mat-card-title class="card-year-child  ">Course approve</mat-card-title>
            <mat-card-title class="card-year-child2  ">17 Sep 2023 | 11:57</mat-card-title>

        </mat-card-header>
        <mat-card-header class="between-content">
            <mat-card-title class="card-year-child2  ">your course with title New Learning Page approved</mat-card-title>
                </mat-card-header>
                <div class="btn-parent">
                <button class="view-btn" > View</button>
            </div>
    </mat-card>
    <!-- card 6 -->
    <mat-card class="card-year  ">
        <mat-card-header >
            <mat-card-title class="card-year-child  ">Course approve</mat-card-title>
            <mat-card-title class="card-year-child2  ">17 Sep 2023 | 11:57</mat-card-title>

        </mat-card-header>
        <mat-card-header class="between-content">
            <mat-card-title class="card-year-child2  ">your course with title New Learning Page approved</mat-card-title>
                </mat-card-header>
                <div class="btn-parent">
                <button class="view-btn" > View</button>
            </div>
    </mat-card>
       <!-- card 7 -->
       <mat-card class="card-year  ">
        <mat-card-header >
            <mat-card-title class="card-year-child  ">Course approve</mat-card-title>
            <mat-card-title class="card-year-child2  ">17 Sep 2023 | 11:57</mat-card-title>

        </mat-card-header>
        <mat-card-header class="between-content">
            <mat-card-title class="card-year-child2  ">your course with title New Learning Page approved</mat-card-title>
                </mat-card-header>
                <div class="btn-parent">
                <button class="view-btn" > View</button>
            </div>
    </mat-card>
    <!-- card 8 -->
    <mat-card class="card-year  ">
        <mat-card-header >
            <mat-card-title class="card-year-child  ">Course approve</mat-card-title>
            <mat-card-title class="card-year-child2  ">17 Sep 2023 | 11:57</mat-card-title>

        </mat-card-header>
        <mat-card-header class="between-content">
            <mat-card-title class="card-year-child2  ">your course with title New Learning Page approved</mat-card-title>
                </mat-card-header>
                <div class="btn-parent">
                <button class="view-btn" > View</button>
            </div>
    </mat-card>
    <!-- card 9 -->
    <mat-card class="card-year  ">
        <mat-card-header >
            <mat-card-title class="card-year-child  ">Course approve</mat-card-title>
            <mat-card-title class="card-year-child2  ">17 Sep 2023 | 11:57</mat-card-title>

        </mat-card-header>
        <mat-card-header class="between-content">
            <mat-card-title class="card-year-child2  ">your course with title New Learning Page approved</mat-card-title>
                </mat-card-header>
                <div class="btn-parent">
                <button class="view-btn" > View</button>
            </div>
    </mat-card>
    <!-- card 10 -->
    <mat-card class="card-year  ">
        <mat-card-header >
            <mat-card-title class="card-year-child  ">Course approve</mat-card-title>
            <mat-card-title class="card-year-child2  ">17 Sep 2023 | 11:57</mat-card-title>

        </mat-card-header>
        <mat-card-header class="between-content">
            <mat-card-title class="card-year-child2  ">your course with title New Learning Page approved</mat-card-title>
                </mat-card-header>
                <div class="btn-parent">
                <button class="view-btn" > View</button>
            </div>
    </mat-card>
    
</div>

<!-- slider button -->
<div class="button-slider">
    <div class="btn-div">
        <svg xmlns="http://www.w3.org/2000/svg" class=" bt-icon" width="2em" height="2em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m14 7l-5 5m0 0l5 5"/></svg>
       <button class="btn-slider">1</button>
       <button class="btn-slider">2</button>
       <button class="btn-slider">3</button>
       <svg xmlns="http://www.w3.org/2000/svg" class=" bt-icon" width="2em" height="2em" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m10 17l5-5m0 0l-5-5"/></svg>
    </div>
    </div>

</div>
</div>


</div>