    <!-- meeting popup code starts -->
    <div class="centerpartdiv"
    id="showadd">
    <div class="confirmdelete">
        <!-- pop up div -->
        <div class="upperpart">
            <div class="spandiv">
                <span class="deletespan">Convert Points</span>
            </div>
        </div>
        <!-- p div -->
        <div class="parapart">
            <img src="assets/reward/image 171.png" alt="">
            <!-- <p class="sure">Are you sure?</p> -->
            <div class="parasecond">
                <span></span>
                <span></span>
            </div>
            <div class="doyoupart">
                <span>You will get $1.82 for 363 points
                    The amount will be charged to your wallet immediately.
                    Do you want to proceed?</span>
            </div>
        </div>
        <div class="buttondiv">
            <button mat-raised-button class="btn1" (click)="openPopup_new()" >Convert Points</button>
            <button mat-raised-button class="btn2" (click)=" openPopup_new2()" >close</button>


        </div>
    </div>
</div>



