.main-course {
  padding: 20px;
}

.heading-course {
  font-size: 30px;
  font-weight: 900;

}

.border-list {
  border: 1px solid var(--primary-color);
  width: 10%;
}

.img-course {
  width: 30%;
  height: 32%;
}

.outer-instructor {
  margin: 20px;
  box-shadow: 4px 4px 4px 4px #F5F5F5;

}

.inner-instructor {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center !important;

}

.heading-content-instructor {
  color: black;
  font-family: Poppins;
  font-size: 24px;
  font-weight: bold;
  margin-top: 12px;
}

.content-instructor {
  font-size: 16px;
  font-weight: 900px;
  font-family: Poppins;
  color: var(--grey-sec);
}

.result-statistics-div {
  padding: 40px 20px;
  margin-top: 20px;
  /* border-top: 1px solid var(--primary-color); */
  position: relative;
}

.result-statistics {
  font-size: 20px;
  font-weight: 500;
  background-color: var(--white);
  display: flex !important;
  flex-direction: row;
  align-items: center !important;
  width: 100%;
  /* justify-content: center; */
  gap: 10px;
  text-wrap: nowrap;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

@media (max-width: 500px) {

  ::ng-deep .result-statistics-div {
    display: flex;
    flex-direction: column;
    gap: 80px;
    position: relative;
  }

  .result-statistics {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: absolute;
  }
}

.my-quizzer-heading-div {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 20px;

}

.result-statistics p {
  margin: 0;
}

.quizzers-arrow-line-div {
  display: flex;
  align-items: center;
  gap: -1;
  width: 100%;
}

.quizzers-arrow-icon {
  color: var(--primary-color);
  font-size: 15px;
  width: fit-content;
  height: 100% !important;
}

.quizzers-pink-line {
  border: 1px solid var(--primary-color);
  width: 100%;
  opacity: 40%;
  padding: 0 !important;
  margin: 0 !important;


}