<div class="main-course">
<p class="heading-course">Favorite courses</p>
<div class="border-list"></div>

<!-- Result Statistics -->
<div class="result-statistics-div">
    <div class="result-statistics">
        <div class="my-quizzer-heading-div">
            <p>Favorite courses</p>

            <div class="quizzers-arrow-line-div">
                <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                <p class="quizzers-pink-line "></p>
            </div>
        </div>

    </div>
    
<mat-card   class="outer-instructor">
    <!-- <i class="fa-regular fa-circle-down text-xl text-end p-4 "></i> -->
    <mat-card-content class="inner-instructor  ">
    <img src="assets/course-org/Group 340281.png" alt="" class="img-course">
        <p class="heading-content-instructor">
            No Favorite Course! </p>
        <p class="content-instructor">
            You can add a course to your favorites and enroll on later.</p>
       
        
        
    </mat-card-content>
    </mat-card>
</div>