<div class="centerpartdiv"
id="showadd">
<div class="confirmdelete">
    <!-- pop up div -->
    <div class="upperpart">
        <div class="spandiv">
            <!-- <span class="deletespan">Confirm delete</span> -->
        </div>
    </div>
    <!-- p div -->
    <div class="parapart">
        <img src="assets/course-org/task_alt.png" alt="">
        <p>Success</p>
        <div class="parasecond">
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="buttondiv">

        <p>Item successfully delete.</p>


    </div>
</div>
</div>
