<div>
    <h2 class="type_text">About this course</h2>
    <p class="text_info">COURSE DESCRIPTION</p>
   
    <p class="content-info">
        The course content is uniquely customized in a way to give each student who participates in this course the best skill orientation and the basic knowledge required to enter the travel and tourism industry. The course is detailed in a way to give the student the best including the skills required.
    </p>
    <p class="content-info">
        Subjects like Basic elements of Travel Geography, World Time ( GMT, International Date Line, Elapsed Time ) and Maps are introduced in e-learning. Also, a look into the documents required like the Passport, Visas and Insurance are also discussed. Departure and Arrival Formalities, Basic Planning of a Holiday are taught. The importance of the technology (CRS) with an introduction to Fares/ E-tickets are also being introduced.
    </p>
    <p class="content-info">
        Two skill-based courses are also included.
    </p>
    <p class="content-info">
        By learning this course you can step into and be a part of the tourism industry which not only generates revenues for a country and cultural wealth, but it is also one of the most important economic engines for growth and development.
    </p>
    <p class="text_info">Career options :</p>
    <p class="content-info">
        “Students have endless career opportunities in the fastest growing industry of travel and tourism”.Few of the career options are working in travel agencies, Customer Ground Handling (customer service) at international or domestic airports, tour operator, event manager, ticketing officer, an adventure tourism expert, transport officer, holiday consultant, logistics, cruises, airlines, hotels, and tourism departments in government and private sectors.
    </p>
    <p class="text_info">Payment:</p>
    <p class="content-info">
        Salary is pretty good in the travel and tourism industry. Moreover, you get added perks such as free travel or reduced rates for you and your family. Salaries are higher in foreign-based airlines or travel agencies. Peak seasons might bring added bonuses and commission. 
    </p>
    <p class="text_info">CERTIFICATION</p>
    <p class="content-info">
        Issued and attested by a professional trainer of over 33 years of experience in the travel and tourism industry.
    </p>
    <!-- Prerequisite start -->
    <div>
      <h2 class="type_text">Prerequisite</h2>
      <mat-card class="mr0 text-left card_he">
        <div fxFlex="33%" fxFlex.sm="50%" fxFlex.xs="100%" class="pd_res">
          <div class="p10 notgrid">
            <div class="w_100_div">
              <img mat-card-image src="assets/images/desi1.png" alt="wful" class="wful" />
            </div>
  
            <div class="w_100_div">
              <mat-card-title class="excel_para text-left">
                How to Travel Around the World
              </mat-card-title>
              <mat-card-subtitle class="text-left my2">
                in
                <a href="" class="colb"> Lifestyle</a></mat-card-subtitle>
              <mat-card-header class="iner_flex p0">
                <div class="flex align_center gap w100">
                  <img mat-card-image src="assets/images/cat_i1.png" alt="icone1" />
                  <p>John Powe </p>
                </div>
              </mat-card-header>
              <div>
                <p class="star-flex flex m0 mt2">
                  <i class="fa-solid fa-star star_div"></i><i class="fa-solid fa-star star_div"></i><i
                    class="fa-solid fa-star star_div"></i><i class="fa-solid fa-star star_div"></i><i
                    class="fa-solid fa-star"></i>
                    <span class="gren_div">4.05</span>
                </p>
              </div>
              <div class="grid_div">
                <mat-card-content class="p0">
                  <div class="iner_flex">
                    <div class="flex justify-between align_center gap line_after">
                      <img mat-card-image src="assets/images/wtchb.png" alt="icone1" />
                      <p class="hours">1:40 Hours</p>
                    </div>
                    <div class="flex justify-between align_center gap">
                      <img mat-card-image src="assets/images/calendarb.png" alt="icone1" />
                      <p class="hours">19 mar 2026</p>
                    </div>
                    <p class="numb2">$ 200</p>
                  </div>
                </mat-card-content>
              </div>
            </div>
            <div class="absolut_3">Finished</div>
          </div>
        </div>
      </mat-card>
    </div>
    <!-- Prerequisite end -->
    <!-- FAQ section start -->
    <div>
      <h2 class="FAQ_text">FAQ</h2>
      <!-- first according -->
      <mat-accordion>
        <mat-expansion-panel class="bg-card my2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header >
            <mat-panel-title class="accord_text">
              What is the course level?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            This is a course for beginners so you will get familiar with the topic
            from scratch.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- first according -->
      <!-- second according -->
      <mat-accordion>
        <mat-expansion-panel class="bg-card my2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="accord_text">Is it a supported course?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            This is a course for beginners so you will get familiar with the topic
            from scratch.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- second according -->
      <!-- third according -->
      <mat-accordion>
        <mat-expansion-panel class="bg-card my2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title class="accord_text">Can I have a private meeting with the instructor?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            This is a course for beginners so you will get familiar with the topic
            from scratch.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
      <!-- third according -->
    </div>
    <!-- FAQ secntion end -->
    <!-- comment section start -->
    <div>
      <h2 class="type_text">Comments</h2>
  
      <mat-label>Comment</mat-label>
      <div class>
        <mat-form-field appearance="outline" class="w100">
          <textarea matInput rows="5" cols="30"></textarea>
        </mat-form-field>
      </div>
      <button mat-stroked-button class="post_btn">Post Comment</button>
    </div>
    <!-- comment section end -->
    <!-- comment and reply section start -->
    <mat-card class="mai_card_res">
      <mat-card-content>
        <div class="flex_repl_div">
          <div class="flex align_center gap">
            <img mat-card-image src="assets/images/cat_i1.png" alt="icone1" />
            <p class="rot_text">Robert Ransdell</p>
          </div>
          <div class="flex align_center justify-center">
            9 Jul 2021 | 16:40 <mat-icon>more_vert</mat-icon>
          </div>
        </div>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </mat-card-content>
      <mat-card class="ma_div">
        <mat-card-content>
          <div class="flex_repl_div">
            <div class="flex align_center gap">
              <img mat-card-image src="assets/images/cat_i1.png" alt="icone1" />
              <div>
                <p class="rot_text">Robert Ransdell</p>
                <p class="stud_text">Student</p>
              </div>
            </div>
            <div class="flex align_center justify-center">
              9 Jul 2021 | 16:40 <span><mat-icon>more_vert</mat-icon></span>
            </div>
          </div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
        </mat-card-content>
      </mat-card>
    </mat-card>
    <!-- comment and reply section end -->
  </div>