.upperpart{
    padding: 20px;
}
.parapart{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 15px;
}
.doyoupart span{
   color: grey;
}
.buttondiv{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-block: 10px;
   text-align: center;
}
.buttondiv p{
    font-size: 20px;
    font-weight: 600;
    word-spacing: 2px;
}


.confirmdelete .buttondiv .mat-mdc-raised-button:nth-child(1){
   background-color: var(--secondary-color) !important;
   color: white !important;
}

.confirmdelete .buttondiv .mat-mdc-raised-button:nth-child(2){
   background-color: var(--red) !important;
   color: white !important;
   width: 20% !important;
}


.buttondiv{
    background-color:#FFEBF4;

}
/* popup border radius notes ngdeep used */
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
   border-radius: 20px !important;
}
/* popup responsive media queries */
@media (min-width:320px) and (max-width:900px) {
  ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
       width: inherit !important
   }
   .parapart p{
       text-align: center;
       padding-inline: 30px;
   }
   .buttondiv{
    padding-inline: 50px;
   }

   


}
.save-btn{
   background-color: var(--secondary-color) !important;
   color: white !important;
   border: none;
   border-radius: 5px;
   padding: 10px 30px;
}

.med-25{
   font-size: 25px;
   font-weight: 500;
}