    <!-- meeting popup code starts -->
    <div class="centerpartdiv"
    id="showadd">
    <div class="confirmdelete">
        <!-- pop up div -->
        <div class="upperpart">
            <div class="spandiv">
                <span class="deletespan">New experience</span>
            </div>
        </div>
        <!-- p div -->
        <div class="parapart">
            <img src="assets/course-org/error.png" alt="">
            <p class="sure">Describe your experience in a single line.</p>
            <!-- <div class="parasecond">
                <span></span>
                <span></span>
            </div> -->
            <div class="doyoupart">
                <span>Example: Marketing manager at Microsoft 2012 - 2013</span>
            </div>
            <input type="text" class="input-type">
        </div>
        <div class="buttondiv">
            <button class="btn1" mat-raised-button (click)="closePopup()" >Save</button>
            <button class="btn2" mat-raised-button (click)="closePopup()" >close</button>


        </div>
    </div>
</div>



