.upperpart{
    padding: 20px;
}
.parapart{
   display: flex;
   flex-direction: column;
   padding: 10px;
   /* justify-content: center; */
   /* align-items: center; */
}
.parapart p{
   font-weight: bold;
   font-size: 16px;
}
.doyoupart span{
    display: flex;
   color: grey;
}
.text-area{
    padding: 20px;
    border:1px solid gray;
    border-radius: 7px;
    width: 100%;
}
.buttondiv{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   padding-block: 15px;
}


.confirmdelete .buttondiv .mat-mdc-raised-button:nth-child(1){
   background-color: var(--secondary-color) !important;
   color: white !important;
}

.confirmdelete .buttondiv .mat-mdc-raised-button:nth-child(2){
   background-color: var(--red) !important;
   color: white !important;
   width: 20% !important;
}
.upperpart{
   background-color: rgba(255, 145, 169, 0.2);
   padding-block: 30px;
}
.parapart{
       padding-block: 10px;
       padding-bottom: 30px;
}
.buttondiv{
   background-color: rgba(187, 187, 187, 0.2);

}
.spandiv{
    display: flex;
    justify-content: center;
}
.deletespan{
 
 font-size: 20px;
 font-weight: 600;
}
/* popup border radius notes ngdeep used */
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
   border-radius: 20px !important;
}
/* popup responsive media queries */
@media (min-width:320px) and (max-width:900px) {
  ::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
       width: inherit !important
   }
   .parapart p{
       text-align: center;
       padding-inline: 30px;
   }

   


}
.save-btn{
   background-color: var(--secondary-color) !important;
   color: white !important;
   border: none;
   border-radius: 5px;
   padding: 10px 30px;
}
.close-btn{
   background-color: var(--red) !important;
   color: white !important;
   border: none;
   border-radius: 5px;
   padding: 10px 30px;
}
