    <!-- meeting popup code starts -->
    <div class="centerpartdiv"
    id="showadd">
    <div class="confirmdelete">
        <!-- pop up div -->
        <div class="upperpart">
            <div class="spandiv">
                <span class="deletespan">Edit comment</span>
            </div>
        </div>
        <!-- p div -->
        <div class="parapart">
            
            <p>Reply to the comment</p>
            <div class="parasecond">
                <span></span>
                <span></span>
            </div>
            <div class="doyoupart">
                <input type="text" placeholder="Course files are not complete !!!" class="text-area">
            </div>
        </div>
        <div class="buttondiv">
            <button mat-raised-button class="save-btn" (click)="openPopup_new()">Save</button>
            <button mat-raised-button color=""  class="close-btn" (click)="openPopup_new2()">Close</button>


        </div>
    </div>
</div>



