    <!-- meeting popup code starts -->
    <div class="centerpartdiv"
    id="showadd">
    <div class="confirmdelete">
        <!-- pop up div -->
        <div class="upperpart">
            <div class="spandiv">
                <!-- <span class="deletespan">New education</span> -->
            </div>
        </div>
        <!-- p div -->
        <div class="parapart">
            <img src="assets/course-org/error.png" alt="">
            <p class="sure">Are you sure?</p>
            <p class="sure2">After confirmation by the site admin, your account will be deleted and your information will not be restored.</p>
        </div>
        <div class="buttondiv">
            <button mat-raised-button class="btn1" (click)="openPopup_new()">Yes, I confirm!</button>
            <button mat-raised-button class="btn2" (click)="openPopup_new1()">close</button>


        </div>
    </div>
</div>



