<div class="main-subscribe">

  <div class="charge ">
    <span>Subscribe</span>
  </div>



  <!-- card start -->
  <mat-card class="outer-instructor">

    <!-- <i class="fa-regular fa-circle-down text-xl text-end p-4 "></i> -->
    <mat-card-content class="inner-instructor  ">
      <img src="assets/Financial/Group 340281 (1).png" alt="" class="img-course">
      <p class="heading-content-instructor">
        You don't have any active subscription plan! </p>
      <p class="content-instructor">
        You can choose a subscription plan from the following list and enroll in courses.</p>



    </mat-card-content>
  </mat-card>
  <!-- card end -->

  <!-- Select a subscription plan strt -->
  <div class="sub-heading-div">
    <p class="sub-heading">Select a subscription plan</p>
    <div class="arrow-line-div">
      <i class="fa-solid fa-caret-right"></i>
      <p class="arrow-line"></p>
    </div>
  </div>

  <!-- Select a subscription plan end -->

  <div class="text-center my5">

    <div class="card-flex">

      <mat-card class="boxshado">
        <mat-card-content class="relat_div">
          <div class="btn_upr_div">
            <div class="ab_div">
              <img src="assets/Financial/image 92 (2).png" alt="cup" class="img_div" />
            </div>
            <div class="bronze">
              <button mat-button class="btn_bro upercase">Bronze</button>
            </div>
          </div>
          <mat-card-title class="excel_para mt4 mb2 text-left upercase">
            Suggested for personal usage
          </mat-card-title>
          <!-- <p class="excel_para mt20 upercase"></p> -->
          <p class="gren_text ">$20</p>
          <ul class="list_text">
            <li>15 days of subscription</li>
            <li class="">100 Subscribes</li>
          </ul>
          <div class="pur_btn">
            <button mat-button class="">Purchase</button>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="boxshado">
        <mat-card-content class="relat_div">
          <div class="btn_upr_div">
            <div class="ab_div">
              <img src="assets/Financial/image 92.png" alt="cup" class="img_div" />
            </div>
            <div class="gold">
              <button mat-button class="btn_bro upercase">Gold</button>
            </div>
          </div>
          <mat-card-title class="excel_para mt4 mb2 text-left upercase">
            Suggested for personal usage
          </mat-card-title>
          <!-- <p class="excel_para mt20 upercase"></p> -->
          <p class="gren_text ">$100</p>
          <ul class="list_text">
            <li>15 days of subscription</li>
            <li class="">100 Subscribes</li>
          </ul>
          <div class="pur_btn">
            <button mat-button class="">Purchase</button>
          </div>

        </mat-card-content>
      </mat-card>
      <mat-card class="boxshado">
        <mat-card-content class="relat_div">
          <div class="btn_upr_div">
            <div class="ab_div">
              <img src="assets/Financial/image 92 (1).png" alt="cup" class="img_div" />
            </div>
            <div class="silver">
              <button mat-button class="btn_bro upercase">Silver</button>
            </div>
          </div>
          <mat-card-title class="excel_para mt4 mb2 text-left upercase">
            Suggested for personal usage
          </mat-card-title>
          <!-- <p class="excel_para mt20 upercase"></p> -->
          <p class="gren_text ">$40</p>
          <ul class="list_text">
            <li>15 days of subscription</li>
            <li class="">100 Subscribes</li>
          </ul>
          <div class="pur_btn">
            <button mat-button class="">Purchase</button>
          </div>

        </mat-card-content>
      </mat-card>

    </div>
  </div>


</div>