    <!-- meeting popup code starts -->
    <div class="centerpartdiv"
    id="showadd">
    <div class="confirmdelete">
        <!-- pop up div -->
        <div class="upperpart">
            <div class="spandiv">
                <span>Student contact information</span>
            </div>
        </div>
        <!-- p div -->
        <div class="parapart">
            <div class="space">
                <img src="../../assets/images/conatctimage.png" alt="">
                <p>Cameron Schofield</p>
            </div>
            <div class="doyoupart">
                <div class="detaildiv_one">
                    <span>Email:</span>
                    <span>Phone:</span>    
                </div>
                <div class="detaildiv_two">
                    <span>student.com</span>
                    <span>+12025550169</span> 
                </div>
            </div>
        </div>
        <div class="paddingdiv">
            <div class="textbox_new">
                <div class="textdiv">
                    <p>We are the managers of a company and we want to get acquainted 
                  with the concepts of risk in resource management.</p>
                </div>
            </div>
        </div>
        <div class="buttondiv">
            <button mat-raised-button color="" (click)="openPopup_new()">Close</button>
        </div>
    </div>
</div>



