<!-- identity-financial works! -->
<!-- skills-topics -->
<div class="main-div">


    <!-- sub hedaing  -->
    <div class="sub-heading-div">
        <p class="sub-heading">Identity & financial</p>
        <div class="arrow-line-div">
            <i class="aroowline  fa-solid fa-caret-right"></i>
            <p class="arrow-line"></p>
        </div>
    </div>

    <!-- sub hedaing close -->
    <p class="text-red">Your identity and financial information not verified so it might cause delay in the payout
        process. Please define them using following fields.</p>
    <!-- input field divs -->
    <div class="identity-main">
        <div class="in-form-row">
            <mat-label class="form-input-label">Instructor </mat-label>
            <div class="mt2">
                <mat-form-field appearance="outline" class="form-field">
                    <mat-select class="select_in">
                        <mat-option value="red">Red</mat-option>
                        <mat-option value="green">Green</mat-option>
                        <mat-option value="blue">Blue</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!-- Account Holde and emial div -->
        <div class="identity-2-field">
            <div class="Biography-input-div">
                <mat-label class="Biography-form-input">Account Holder</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput class="input-border">
                </mat-form-field>
            </div>
            <div class="Biography-input-div">
                <mat-label class="Biography-form-input">Email</mat-label>
                <mat-form-field appearance="outline">

                    <input matInput>

                </mat-form-field>
            </div>
        </div>
        <!-- Account Holde and emial div close -->

        <!-- file type -->
        <div class="identity-2-file-field">
            <div class="identity-field">
                <p class="input-head-text">Identity scan</p>
                <div class="upload-input-div">
                    <label for="accessibility" class="upload-image-div">
                        <img src="assets/setting/upload_2.png" alt="">
                    </label>
                    <input hidden type="file" class="input" id="accessibility">
                </div>
            </div>
            <div class="identity-field">
                <p class="input-head-text">Certificates & Documents</p>
                <div class="upload-input-div">
                    <label for="accessibility" class="upload-image-div">
                        <img src="assets/setting/upload_2.png" alt="">
                    </label>
                    <input hidden type="file" class="input" id="accessibility">
                </div>
            </div>
        </div>
        <!-- file type close  -->

        <div class="Biography-input-div-2">
            <mat-label class="Biography-form-input">Account Holder</mat-label>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Jeevan Tara Building, 1Sr Floor">
            </mat-form-field>
        </div>

    </div>
    <!-- input field divs close -->


    <!-- buttons div  -->
    <!-- <div class="btn-class">
    <div>
        <button mat-raised-button class="btnsss-1">Previous</button>
        <button mat-raised-button class="btnsss-2">Next</button>
    </div>
    <div>
        <button mat-raised-button class="btnsss-3" >Delete Account</button>
        <button mat-raised-button class="btnsss-4">Save</button>
    </div>
</div> -->
    <!-- buttons div close -->


</div>
<!-- identity-financial works! close -->