<!-- skills-topics -->
<div class="main-div">

    <!-- sub hedaing  -->
    <div class="sub-heading-div">
        <p class="sub-heading">Skills</p>
        <div class="arrow-line-div">
            <i class="aroowline  fa-solid fa-caret-right"></i>
            <p class="arrow-line"></p>
        </div>
    </div>
    <!-- sub hedaing close -->
    <!-- skills -->
    <div class="btn-text">
        <div class="tags-div">
            <span class="tag">Design</span>
            <span class="tag">Math </span>
            <span class="tag">Science </span>
            <span class="tag">Language </span>
            <span class="tag">Health & Fitness </span>
            <span class="tag">Lifestyle </span>
            <span class="tag">Beauty & Makeup</span>
            <span class="tag">Marketing </span>
            <span class="tag">Management </span>
            <span class="tag">Communications</span>
            <span class="tag"> Business Strategy </span>
            <span class="tag">Web Development</span>
            <span class="tag"> Mobile Development </span>
            <span class="tag">Game Development</span>
        </div>
        <!-- skills close -->

        <div class="Biography-text">
            <p> - The "Job title" will be displayed at the bottom of your name on the profile cards.</p>
            <p> - Keep it short (2 or 3 words) Eg "Product designer, Senior software engineer".</p>
        </div>
    </div>

    <!-- buttons div  -->
    <!-- <div class="btn-class">
        <div>
            <button mat-raised-button class="btnsss-1">Previous</button>
            <button mat-raised-button class="btnsss-2">Next</button>
        </div>
        <div>
            <button mat-raised-button class="btnsss-3">Delete Account</button>
            <button mat-raised-button class="btnsss-4">Save</button>
        </div>
    </div> -->
    <!-- buttons div close -->
</div>
<!-- skills-topics close -->