<!-- Upcoming Courses(Following courses) -->
<div class="main-div">
    <div>
        <p class="heading-tag">Following courses</p>
        <p class="hr-line"></p>
    </div>

    <!-- sub hedaing  -->
    <div class="sub-heading-div">
        <p class="sub-heading">Following courses</p>
        <div class="arrow-line-div">
            <i class="fa-solid fa-caret-right"></i>
            <p class="arrow-line"></p>
        </div>
    </div>
    <!-- sub hedaing close -->

    <!-- cources card -->
    <div>
        <mat-card>
            <mat-card-content class="courses-mat-card-div">
                <div class="img-div">
                    <img src="assets/couces/Rectangle 4569.png" alt="Rectangle 4569.png">
                </div>
                <div class="cource-mat-card-content">
                    <div class="hedaing-and-button">
                        <p class="card-heading" routerLink="/upcoming-course/web">Web Design for Beginners</p>
                        <button mat-button class="card-button">Course</button>
                    </div>
                    <!-- detail div -->
                    <div class="details-divs">
                        <div>
                            <p class="detail-heading">Item ID: </p>
                            <p class="detail-heading-2">5</p>
                        </div>
                        <div>
                            <p class="detail-heading">Category: </p>
                            <p class="detail-heading-2">Design </p>
                        </div>
                        <div>
                            <p class="detail-heading">Next session duration:</p>
                            <p class="detail-heading-2"> 3:30 Hrs</p>
                        </div>
                        <div>
                            <p class="detail-heading">Estimated Publish Date:</p>
                            <p class="detail-heading-2"> 15 Mar 2023 00:00</p>
                        </div>
                        <div>
                            <p class="detail-heading">Price:</p>
                            <p class="detail-heading-2"> $10</p>
                        </div>
                    </div>
                    <!-- detail div close -->
                </div>
            </mat-card-content>

        </mat-card>
        <mat-card>
            <mat-card-content class="courses-mat-card-div">
                <div class="img-div">
                    <img src="assets/couces/Rectangle 4569 (1).png" alt="Rectangle 4569.png">
                </div>
                <div class="cource-mat-card-content">
                    <div class="hedaing-and-button">
                        <p class="card-heading">Digital Photography</p>
                        <button mat-button class="card-button-live">Live class</button>
                    </div>
                    <!-- detail div -->
                    <div class="details-divs">
                        <div>
                            <p class="detail-heading">Item ID: </p>
                            <p class="detail-heading-2">4</p>
                        </div>
                        <div>
                            <p class="detail-heading">Category: </p>
                            <p class="detail-heading-2">Design </p>
                        </div>
                        <div>
                            <p class="detail-heading">Next session duration:</p>
                            <p class="detail-heading-2"> 6:00 Hrs</p>
                        </div>
                        <div>
                            <p class="detail-heading">Estimated Publish Date:</p>
                            <p class="detail-heading-2"> 20 Jan 2024 16:00</p>
                        </div>
                        <div>
                            <p class="detail-heading">Price:</p>
                            <p class="detail-heading-2"> $50</p>
                        </div>
                    </div>
                    <!-- detail div close -->
                </div>
            </mat-card-content>

        </mat-card>
    </div>
    <!-- cources card close -->

</div>
<!-- Upcoming Courses(Following courses) close-->