<!-- affiliate page  -->
<div class="main-div">
    <div>
        <p class="heading-tag">Registration Bonus</p>
        <p class="hr-line"></p>
    </div>
    <!-- sub hedaing  -->
    <div class="sub-heading-div">
        <p class="sub-heading">Registration Bonus</p>
        <div class="arrow-line-div">
            <i class="aroowline  fa-solid fa-caret-right"></i>
            <p class="arrow-line"></p>
        </div>
    </div>
    <!-- sub hedaing close -->


    <!-- mat cards   -->
    <div class="mat-card-div">
        <mat-card class="support-card-border">
            <mat-card-content class="support-contaent-div">
                <div class="icon-img-div">
                    <img src="assets/Markating/image 145.png" class="suppoet-icon-envelop" alt="image 143.png">
                    <!-- <i   fa-solid fa-envelope-open-text"></i> -->
                    <img src="assets/Markating/Group 340235.png" class="suppoet-img" alt="Group 340235.png">
                </div>
                <div class="text_div">
                    <p class="text-1">$50</p>
                    <p class="text-2"> Registration Bonus</p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="support-card-border">
            <mat-card-content class="support-contaent-div">
                <div class="icon-img-div">
                    <img src="assets/Markating/image 1442.png" class="suppoet-icon-envelop" alt="image 144.png">
                    <img src="assets/Markating/Group 340235.png" class="suppoet-img" alt="Group 340235.png">
                </div>
                <div class="text_div">
                    <p class="text-1-Locked">Locked</p>
                    <p class="text-2">Bonus Status</p>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="support-card-border">
            <mat-card-content class="support-contaent-div">
                <div class="icon-img-div">
                    <img src="assets/Markating/image 1452.png" class="suppoet-icon-envelop" alt="image 145.png">
                    <img src="assets/Markating/Group 340235.png" class="suppoet-img" alt="Group 340235.png">
                </div>
                <div class="text_div">
                    <p class="text-1-dsash">--</p>
                    <p class="text-2">Bonus Date</p>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- mat cards close -->


    <!-- Bonus Status div  -->
    <div class="bonus-card-div">
        <mat-card class="bonus-mat-card-1">
            <mat-card-content>
                <div class="bonus-img-div">
                    <div>
                        <img src="assets/Markating/Rectangle 4839.png" class="bonus-imagee" alt="Rectangle 4839.png">
                    </div>
                    <!-- Bonus Status  -->
                    <div>
                        <div>
                            <p class="bonus-text-head">Bonus Status</p>
                            <p class="bonus-text-1"> Your bonus is locked. To unlock the bonus,
                                please check the following statuses:</p>
                        </div>
                        <!-- text div -->
                        <div class="circle-div">
                            <div>
                                <img src="assets/Markating/Rectangle 4621.png" class="circle-image"
                                    alt="Rectangle 4621.png">
                            </div>
                            <div class="text-flex">
                                <span class="circle-text"> Referred Users </span>
                                <span class="circle-text-2"> You referred 2/5 users to the platform</span>
                            </div>
                        </div>
                        <!-- text div close  -->
                        <!-- text div -->
                        <div class="circle-div">
                            <div>
                                <img src="assets/Markating/Rectangle 4621.png" class="circle-image"
                                    alt="Rectangle 4621.png">
                            </div>
                            <div class="text-flex">
                                <span class="circle-text">Users purchases </span>
                                <span class="circle-text-2"> 1/5 users achieved purchase target</span>
                            </div>
                        </div>
                        <!-- text div close  -->
                    </div>
                    <!-- Bonus Status div -->

                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="bonus-mat-card-2">
            <mat-card-content>
                <div class="bonus-img-div">
                    <!-- How to get bonus -->
                    <div class="bonus-main-div">
                        <p class="bonus-text-head">How to get bonus</p>

                        <div class="how-to-get">
                            <div>
                                <i class="user-icon fa-solid fa-user-plus"></i>
                            </div>
                            <div class="how-to-get-text-div">
                                <span class="how-to-get-text-1">Sign up </span>
                                <span class="how-to-get-text-2">Create an account on platform and get $50</span>
                            </div>
                        </div>
                        <div class="how-to-get">
                            <div>
                                <i class="user-icon fa-solid fa-user-group"></i>
                            </div>
                            <div class="how-to-get-text-div">
                                <span class="how-to-get-text-1">Refer your friends </span>
                                <span class="how-to-get-text-2"> Refer at least 5 users to the system using your
                                    affiliate URL</span>
                            </div>
                        </div>
                        <div class="how-to-get">
                            <div>
                                <i class=" user-icon fa-solid fa-cart-shopping"></i>

                            </div>
                            <div class="how-to-get-text-div">
                                <span class="how-to-get-text-1">Reach purchase target </span>
                                <span class="how-to-get-text-2"> Each referred user should purchase $100 on
                                    the platform</span>
                            </div>
                        </div>
                        <div class="how-to-get">
                            <div>
                                <i class="user-icon fa-solid fa-lock"></i>
                            </div>
                            <div class="how-to-get-text-div">
                                <span class="how-to-get-text-1">Unlock your bonus</span>
                                <span class="how-to-get-text-2"> Your bonus will be unlocked! Enjoy spending...</span>
                            </div>
                        </div>
                    </div>
                    <!-- How to get bonus close -->
                    <div>
                        <img src="assets/Markating/Rectangle 4839 (1).png" class="bonus-imagee"
                            alt="Rectangle 4839 (1).png">
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <!-- Bonus Status div close -->

    <!-- sub hedaing  -->
    <div class="sub-heading-div">
        <p class="sub-heading">Referral History</p>
        <div class="arrow-line-div">
            <i class="aroowline-3  fa-solid fa-caret-right"></i>
            <p class="arrow-line"></p>
        </div>
    </div>
    <!-- sub hedaing close -->
    <!-- table -->
    <div class="quizzer-table-div">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="instructor">
                <th mat-header-cell *matHeaderCellDef class="user-content-justfie-ceneter"> User </th>
                <div class="td-div-distance">
                    <td mat-cell *matCellDef="let element">
                        <div class="td-div">
                            <img [src]="element.instructor.img" alt="">
                            <div class="td-text-div">
                                <p class="td-text-p1"> {{element.instructor.text}}</p>
                            </div>
                        </div>
                    </td>
                </div>
            </ng-container>
            <!-- Quiz Column -->
            <ng-container matColumnDef="quiz">
                <th mat-header-cell *matHeaderCellDef> <span class="pipe-set"></span> Registration Bonus </th>
                <div class="td-div-distance">
                    <td mat-cell *matCellDef="let element">
                        <div class="td-text-div">
                            <p class="td-text-p1"> <span class="pipe-set"> </span> {{element.quiz.text}}</p>

                        </div>
                    </td>
                </div>
            </ng-container>
            <!-- Quiz Grade Column -->
            <ng-container matColumnDef="quizGrade">
                <th mat-header-cell *matHeaderCellDef> <span class="pipe-set"></span> Sales Commission </th>
                <div class="td-div-distance">
                    <td mat-cell *matCellDef="let element" class="reg-12"> <span class="pipe-set"></span>
                        {{element.quizGrade}} </td>
                </div>
            </ng-container>
            <!-- Date Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> <span class="pipe-set"></span> Registration Date</th>
                <div class="td-div-distance">
                    <td mat-cell *matCellDef="let element">
                        <div class="quizzer-date-td">
                            <span> <span class="pipe-set"></span> {{element.date}}</span>

                        </div>
                    </td>
                </div>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="tr-for-distance"></tr>
        </table>
    </div>
    <!-- table -->


</div>
<!-- affiliate page close -->