<div>
  <!-- first according start -->
  <div class="main_second_accord">
  <mat-accordion>
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="flex align_center gap w100">
            <img mat-card-image src="assets/images/cat_i1.png" alt="icone1" />
            <p class="inr_text">Introduction</p>
          </div>
        </mat-panel-title>
        <!-- <mat-panel-description>
       part
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="flex align_center gap w100">
              <img mat-card-image src="assets/images/cat_i1.png" alt="icone1" />
              <p class="inr_text">Introduction class</p>
            </div>
          </mat-panel-title>
          <!-- <mat-panel-description>
       part
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <p class="fon_lorem">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div class="flex align_center justify-between gap w100">
          <div class="righ_rat">
            <img mat-card-image src="assets/images/bad.png" alt="icone1" />
            <p>4.09 MB</p>
          </div>
          <button mat-raised-button class="btn_pal">Play</button>
        </div>
      </mat-expansion-panel>
    </mat-expansion-panel>
  </mat-accordion>
</div>
  <!-- first according end -->
  <!-- second according start -->
  <div class="main_second_accord my15">
  <mat-accordion >
    <mat-expansion-panel
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div class="flex align_center gap w100">
            <img mat-card-image src="assets/images/cat_i1.png" alt="icone1" />
            <p class="inr_text">Microsoft Excel Fundamentals</p>
          </div>
        </mat-panel-title>
        <!-- <mat-panel-description>
       part
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="flex align_center gap w100">
              <img mat-card-image src="assets/images/cat_i1.png" alt="icone1" />
              <p class="inr_text">Introduction class</p>
            </div>
          </mat-panel-title>
          <!-- <mat-panel-description>
       part
        </mat-panel-description> -->
        </mat-expansion-panel-header>
        <p class="fon_lorem">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div class="flex align_center justify-between gap w100">
          <div class="righ_rat">
            <img mat-card-image src="assets/images/bad.png" alt="icone1" />
            <p>4.09 MB</p>
          </div>
          <button mat-raised-button class="btn_pal">Play</button>
        </div>
      </mat-expansion-panel>
    </mat-expansion-panel>
  </mat-accordion>
  </div>
  <!-- second according end -->
  <!-- third second start -->
  <div class="my15">
    <p class="type_text">Quiz & Certificate</p>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="flex align_center gap w100">
              <img mat-card-image src="assets/images/cat_i1.png" alt="icone1" />
              <p class="inr_text"
              >Mid Term Quiz</p>
            </div>
          </mat-panel-title>
          <!-- <mat-panel-description>
           part
            </mat-panel-description> -->
        </mat-expansion-panel-header>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="flex align_center gap w100">
                <img
                  mat-card-image
                  src="assets/images/cat_i1.png"
                  alt="icone1"
                />
                <p class="inr_text"
                >Mid Term Quiz</p>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry.
          </p>
          <div class="flex align_center justify-between gap w100">
            <div class="main_icn_flex">
              <mat-icon> not_listed_location</mat-icon>
              <p>5 Questions</p>
              <mat-icon>watch_later</mat-icon>
              <p>10 Min</p>
              <mat-icon>check_box</mat-icon>
              <p>Passed Grade : 60/100</p>
              <mat-icon>check_box</mat-icon>
              <p>Attempts : 0/4</p>
            </div>

            <!-- <mat-icon>check_box</mat-icon> -->
          </div>
          <div class="start_tn_div">
          <button mat-raised-button class="play_btn">Start Quiz</button></div>
        </mat-expansion-panel>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <!-- third section end -->
</div>
