<div class="main-div">
    <div class="head"> </div>
    <div class="body">
        <img src="assets/Setting/error.png" alt="error.png">
        <p class="text-1">Are you sure?</p>
        <p class="text-2">After confirmation by the site admin, your account will be deleted and your information will
            not be restored.
        </p>
    </div>
    <div class="buttons-div">
        <button mat-raised-button mat-dialog-close class="yesBtn">Yes, I confirm!</button>
        <button mat-raised-button mat-dialog-close class="closeBtn">Close</button>

    </div>
</div>
<!--  (click)="yespopup()" -->