
<div class="education-main">

    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Education</p>
    
                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>
    
            <div class="text-with-toggle-div">
                
                <button class="mark-btn" (click)=" addEducation()" >Add education</button>
                
            </div>
    
        </div>
    

<!-- card start -->
<mat-card   class="outer-instructor">
    
<mat-card-content class="inner-instructor  ">
<img src="assets/setting/Group 340281.png" alt="" class="img-course">
    <p class="heading-content-instructor">
        No degree is defined!</p>
    <p class="content-instructor">
        Your degrees will be displayed on your profile page.</p>
   
    
    
</mat-card-content>
</mat-card>
<!-- card end -->
</div>

</div>