<div class="main-course">
    <p class="heading-course">Bookmarks</p>
    <div class="border-list"></div>
    
    
        
    <mat-card   class="outer-instructor">
        <!-- <i class="fa-regular fa-circle-down text-xl text-end p-4 "></i> -->
        <mat-card-content class="inner-instructor  ">
        <img src="assets/forum/Group 340281.png" alt="" class="img-course">
            <p class="heading-content-instructor">
                No Bookmarks!</p>
            <p class="content-instructor">
                You can browse forums and bookmark topics for future usage.</p>
           
            
            
        </mat-card-content>
        </mat-card>
    </div>