<div>
  <h2 class="type_text">About this course</h2>
  <p class="text_info">Microsoft Excel all in One Package</p>
  <p class="text_info">
    This Microsoft Excel course combines 4 different courses.
  </p>
  <ul class="list_1">
    <li class="my2">Microsoft Excel 101 - An Introduction to Excel</li>
    <li>Microsoft Excel 102 - Intermediate Level Excel</li>
    <li class="my2">Microsoft Excel 103 - Advanced Level Excel</li>
    <li>Master Microsoft Excel Macros and VBA in 6 Simple Projects</li>
  </ul>
  <p class="center-hed">
    Material recorded with Excel 2013 but works in 2010, 2013, 2016, 2019
    (Office 365) Recent Student Review
  </p>
  <ul class="list_1">
    <li class="my2">
      "You sir are a life saver. Not everyone has the ability to teach. Thank
      you so much for taking the time to put together an amazing course bro. If
      anyone doubts buying this course, don't doubt it, buy it. I've learned so
      much in this course. Hope more courses are on the way because I'd buy
      every single one of them. Thanks again bro. God bless you and your
      family."
    </li>
    <li>
      "Happy to say that I now "know" excel. I realize there is so much more to
      learn, but it's a start! Thank you for being such a great instructor...
      now on to the next class."
    </li>
    <li class="my2">
      "Thanks for a well made course. The progression of topics is well
      structured and the part about Macro and VBA was new for me. Excel is a
      really powerful tool and it is worth know all of its aspects. Kyle did a
      good job at explaining them."
    </li>
  </ul>
  <p class="list_1">
    Enroll now to go through a deep dive of the most popular spreadsheet tool on
    the market, Microsoft Excel. As your instructor I will use my 15+ years of
    Excel training to guide you step by step through the beginner to advanced
    level and beyond.
    <br />As you participate in each of the 4 courses you will master Excel
    tools that will clear away the pain of stumbling through your daily tasks.
    You will start with the basics, building a solid foundation that will give
    you further knowledge as you progress into intermediate and advanced level
    topics.
    <br />
    At completion of this course you will have mastered the most popular Excel
    tools and come out with confidence to complete any Excel tasks with
    efficiency and grace. Below are just a few of the topics that you will
    master.
  </p>
  <ul class="list_1">
    <li class="my2">Creating effective spreadsheets</li>
    <li>Managing large sets of data</li>
    <li class="my2">
      Mastering the use of some of Excel's most popular and highly sought after
      functions (SUM, VLOOKUP, IF, AVERAGE, INDEX/MATCH and many more...)
    </li>
    <li>Create dynamic report with Excel PivotTables</li>
    <li class="my2">
      Unlock the power and versatility of Microsoft Excel's Add-In, PowerPivot
    </li>
    <li>Audit Excel Worksheet formulas to ensure clean formulas</li>
    <li class="my2">
      Automate your day to day Excel tasks by mastering the power of Macros and
      VBA
    </li>
  </ul>
  <p class="list_1">
    So, what are you waiting for, enroll now and take the next step in mastering
    Excel and go from Excel Newb to Excel Guru!
  </p>
  <!-- Prerequisite start -->
  <div>
    <h2 class="type_text">Prerequisite</h2>
    <mat-card class="mr0 text-left card_he">
      <div fxFlex="33%" fxFlex.sm="50%" fxFlex.xs="100%" class="pd_res">
        <div class="p10 notgrid">
          <div class="w_100_div">
            <img
              mat-card-image
              src="assets/images/desi1.png"
              alt="wful"
              class="wful"
            />
          </div>

          <div class="w_100_div">
            <mat-card-title class="excel_para text-left">
              Become a Product Manager
            </mat-card-title>
            <mat-card-subtitle class="colb my2">
              in
              <a href="" class=""> Business Strategy</a></mat-card-subtitle
            >
            <mat-card-header class="iner_flex p0">
              <div class="flex align_center gap w100">
                <img
                  mat-card-image
                  src="assets/images/cat_i1.png"
                  alt="icone1"
                />
                <p class="colb ">Robert Ransdell</p>
              </div>
            </mat-card-header>
            <div>
              <p class="flex m0 mt2">
                <i class="fa-solid fa-star star_div"></i
                ><i class="fa-solid fa-star star_div"></i
                ><i class="fa-solid fa-star star_div"></i
                ><i class="fa-solid fa-star star_div"></i
                ><i class="fa-solid fa-star"></i>
              </p>
            </div>
            <div class="grid_div">
              <mat-card-content class="p0">
                <div class="iner_flex">
                  <div class="flex justify-between align_center gap line_after">
                    <img
                      mat-card-image
                      src="assets/images/wtchb.png"
                      alt="icone1"
                    />
                    <p class="time_text">1:40 Hours</p>
                  </div>
                  <div class="flex justify-between align_center gap">
                    <img
                      mat-card-image
                      src="assets/images/calendarb.png"
                      alt="icone1"
                    />
                    <p class="time_text">19 mar 2026</p>
                  </div>
                  <p class="numb2">Free</p>
                </div>
              </mat-card-content>
            </div>
          </div>
          <div class="absolut_3">Courses</div>
        </div>
      </div>
    </mat-card>
  </div>
  <!-- Prerequisite end -->
  <!-- FAQ section start -->
  <div>
    <h2 class="FAQ_text">FAQ</h2>
    <!-- first according -->
    <mat-accordion>
      <mat-expansion-panel
        class="my2"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="accord_text">
            What is the course level?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="inne_lorem">
          This is a course for beginners so you will get familiar with the topic
          from scratch.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- first according -->
    <!-- second according -->
    <mat-accordion>
      <mat-expansion-panel
        class="my2"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="accord_text"
            >Is it a supported course?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="inne_lorem">
          This is a course for beginners so you will get familiar with the topic
          from scratch.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- second according -->
    <!-- third according -->
    <mat-accordion>
      <mat-expansion-panel
        class="my2"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title class="accord_text"
            >Can I have a private meeting with the instructor?
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="inne_lorem">
          This is a course for beginners so you will get familiar with the topic
          from scratch.
        </p>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- third according -->
  </div>
  <!-- FAQ secntion end -->
  <!-- comment section start -->
  <div>
    <h2 class="type_text">Comments</h2>

    <!-- <mat-label>Comment</mat-label> -->
    <div class>
      <mat-form-field appearance="outline" class="w100">
        <textarea matInput rows="5" cols="30"></textarea>
      </mat-form-field>
    </div>
    <button mat-stroked-button class="post_btn">Post Comment</button>
  </div>
  <!-- comment section end -->
  <!-- comment and reply section start -->
  <mat-card class="mai_card_res">
    <mat-card-content>
      <div class="flex_repl_div">
        <div class="flex align_center gap">
          <img mat-card-image src="assets/images/cat_i1.png" alt="icone1" />
          <p class="rot_text">Robert Ransdell</p>
        </div>
        <div class="dat_tim_text">
          9 Jul 2021 | 16:40 <mat-icon>more_vert</mat-icon>
        </div>
      </div>
      <p class="inne_lorem">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
    </mat-card-content>
    <mat-card class="ma_div">
      <mat-card-content>
        <div class="flex_repl_div">
          <div class="flex align_center gap">
            <img mat-card-image src="assets/images/cat_i1.png" alt="icone1" />
            <div>
              <p class="rot_text">Robert Ransdell</p>
              <p class="stud_text">Student</p>
            </div>
          </div>
          <div class="dat_tim_text">
            9 Jul 2021 | 16:40 <span><mat-icon>more_vert</mat-icon></span>
          </div>
        </div>
        <p class="inne_lorem">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-card>
  <!-- comment and reply section end -->
</div>
