<!-- about page settings  -->
<div class="main-div">





    <!-- About sub hedaing  -->
    <div class="sub-heading-div">
        <p class="sub-heading">About</p>
        <div class="arrow-line-div">
            <i class="aroowline-2  fa-solid fa-caret-right"></i>
            <p class="arrow-line"></p>
        </div>
    </div>
    <!-- About sub hedaing close -->


    <!-- about textarea div -->
    <div class="main-input-div">
        <div class="Biography-input-div">
            <mat-label class="Biography-form-input">Biography</mat-label>
            <mat-form-field appearance="outline">
                <textarea matInput></textarea>
            </mat-form-field>
        </div>
        <div class="Biography-input-div-2">
            <mat-label class="Biography-form-input">Job Title</mat-label>
            <mat-form-field appearance="outline">
                <textarea matInput></textarea>
            </mat-form-field>
        </div>

        <div class="Biography-text">
            <p> - The "Job title" will be displayed at the bottom of your name on the profile cards.</p>
            <p> - Keep it short (2 or 3 words) Eg "Product designer, Senior software engineer".</p>
        </div>
    </div>
    <!-- about textarea div close -->







    <!-- buttons div  -->
    <!-- <div class="btn-class">
        <div>
            <button mat-raised-button class="btnsss-1">Previous</button>
            <button mat-raised-button class="btnsss-2">Next</button>
        </div>
        <div>
            <button mat-raised-button class="btnsss-3" (click)="deletepopup()">Delete Account</button>
            <button mat-raised-button class="btnsss-4">Save</button>
        </div>
    </div> -->
    <!-- buttons div close -->
</div>
<!-- about page settings close -->