<!-- Courses support div  -->
<div class="main-div">
    <div>
        <p class="heading-tag">Tickets support</p>
        <p class="hr-line"></p>
    </div>


    <!-- sub hedaing  -->
    <div class="sub-heading-div">
        <p class="sub-heading">Account summary</p>
        <div class="arrow-line-div">
            <i class="aroowline  fa-solid fa-caret-right"></i>
            <p class="arrow-line"></p>
        </div>
    </div>
    <!-- sub hedaing close -->

    <!--cards-->
    <div class="card-grid-div">
        <!-- First Card -->
        <mat-card>
            <div class="card-top">
                <div>
                    <img src="../assets/support/image 143.png" alt="" class="img_first">
                </div>
                <div>
                    <img src="../assets/Financial/stoke.png" alt="" class="img_second">
                </div>
            </div>
            <div class="card-down">
                <p class="card-medium">$251.40</p>
                <p class="card-bottom">Account charge</p>
            </div>
        </mat-card>
        <!-- Second Card -->
        <mat-card>
            <div class="card-top">
                <div>
                    <img src="../assets/support/image 143.png" alt="" class="img_first">
                </div>
                <div>
                    <img src="../assets/Financial/stoke.png" alt="" class="img_second">
                </div>
            </div>
            <div class="card-down">
                <p class="card-medium">$46.50</p>
                <p class="card-bottom">Ready to payout</p>
            </div>
        </mat-card>
        <!-- Third Card -->
        <mat-card>
            <div class="card-top">
                <div>
                    <img src="../assets/support/image 145.png" alt="" class="img_first">
                </div>
                <div>
                    <img src="../assets/Financial/stoke.png" alt="" class="img_second">
                </div>
            </div>
            <div class="card-down">
                <p class="card-medium">$46.50</p>
                <p class="card-bottom">Total income</p>
            </div>
        </mat-card>
    </div>
    <!--end cards-->

    <!-- fliter message  -->
    <div class="sub-heading-div">
        <p class="sub-heading">Filter messages</p>
        <div class="arrow-line-div">
            <i class="aroowline-2  fa-solid fa-caret-right"></i>
            <p class="arrow-line"></p>
        </div>
    </div>
    <!-- fliter message close -->

    <!-- Filter messages input fileds -->
    <div>
        <div class="result-statistics-div">

            <div class="form-div">
                <div class="form-row">
                    <div class="in-form-row">
                        <mat-label class="form-input-label">From </mat-label>
                        <div class="calendar-input-field">
                            <mat-form-field appearance="outline" class="form-field">
                                <img src="assets/support/Group 340247.png" alt="" class="calendar-img">
                                <input matInput class="input">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="in-form-row">
                        <mat-label class="form-input-label">To </mat-label>
                        <div class="calendar-input-field">
                            <mat-form-field appearance="outline" class="form-field">
                                <img src="assets/support/Group 340247.png" alt="" class="calendar-img">
                                <input matInput class="input">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="in-form-row">
                        <mat-label class="form-input-label">Quiz / Course </mat-label>
                        <div class="mt2">
                            <mat-form-field appearance="outline" class="form-field">
                                <mat-select class="select_in">
                                    <mat-option value="red">Red</mat-option>
                                    <mat-option value="green">Green</mat-option>
                                    <mat-option value="blue">Blue</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="in-form-row">
                        <mat-label class="form-input-label">Instructor </mat-label>
                        <div class="mt2">
                            <mat-form-field appearance="outline" class="form-field">
                                <mat-select class="select_in">
                                    <mat-option value="red">Red</mat-option>
                                    <mat-option value="green">Green</mat-option>
                                    <mat-option value="blue">Blue</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="in-form-row button-div">
                        <button mat-button class="show-result-button">Show Results</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Filter messages input fileds close -->


    <!-- Messages History  -->
    <div class="sub-heading-div">
        <p class="sub-heading">Messages History</p>
        <div class="arrow-line-div">
            <i class="aroowline-3  fa-solid fa-caret-right"></i>
            <p class="arrow-line"></p>
        </div>
    </div>
    <!-- Messages History close -->

    <!-- Messages History table -->
    <div class="table-and-img-div">
        <div class="table-div-22">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!-- Contact -->
                <ng-container matColumnDef="Contact">
                    <th mat-header-cell *matHeaderCellDef> Contact </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="table-div-for-img">
                            <div>
                                <img [src]="element.img">
                            </div>
                            <div class="table-div-text">
                                <span class="contect-text"> {{element.fileName}} </span>
                            </div>
                        </div>
                    </td>
                </ng-container>


                <!-- Updated Date-->
                <ng-container matColumnDef="Updated-date">
                    <th mat-header-cell *matHeaderCellDef> Updated Date </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="table-div-text">
                            <span class="contect-text"> {{element.UpdateDate}} </span>

                        </div>
                    </td>
                </ng-container>
                <!-- Department -->
                <ng-container matColumnDef="Department">
                    <th mat-header-cell *matHeaderCellDef> Department </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="table-div-text">
                            <span class="contect-text"> {{element.Department}} </span>

                        </div>
                    </td>
                </ng-container>

                <!-- Status-->
                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"
                        [ngClass]="element.Status == 'Closed' ? 'text-red' : 'text-orange'">
                        {{element.Status}}</td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <!-- help for start -->
        <div class="help-for-start-div">
            <div class="help-div">
                <div class="helpforstart-text-div">
                    <span class="helpforstart-text-1">help for start</span>
                    <span class="helpforstart-text-2">Created: 11 Jul 2021 | 23:59</span>
                    <span class="helpforstart-text-2">Live class: Learn Linux in 5 Days</span>
                </div>
                <div>
                    <button mat-button class="close-result-btn">close Results</button>
                </div>
            </div>
            <div class="table-div-for-img">
                <div>
                    <img src="assets/support/Mask group (1).png" alt="Mask group (1).png">
                </div>
                <div class="table-div-text">
                    <span class="contect-text"> Robert B. Gray </span>
                    <span class="contect-text-2"> user</span>
                </div>
            </div>
            <div>
                <p class="helpforstart-text-second">Hello. <br>
                    In the quiz of course that I bought was the wrong question. <br>
                    Course Name: Photoshop course from beginner to advanced <br>
                    Question number : 3 <br>
                    Please check it. thank you</p>
                <p class="helpforstart-text-second-2">11 Jul 2021 | 23:59</p>
            </div>




            <!-- Reply to the conversation div -->
            <div class="Reply-div">
                <div>
                    <p>Reply to the conversation</p>
                    <div class="in-form-row">
                        <mat-label class="form-input-label-file">Message</mat-label>
                        <div class="calendar-input-field-file">
                            <mat-form-field appearance="outline" class="form-field-file">
                                <input matInput class="">
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <!-- Reply to the conversation div close -->
                <!-- input and button div  -->
                <!-- input and button div  -->
                <p class="input-head-text">Attach a file</p>
                <div class="btn-input">
                    <!-- <div class="identity-field"> -->
                    <!-- <div class=""> -->
                    <div class="upload-input-div">
                        <label for="accessibility" class="upload-image-div">
                            <img src="assets/support/attach_file_add.png" alt="">
                        </label>
                        <input hidden type="file" class="input" id="accessibility">
                    </div>
                    <!-- </div> -->

                    <div class="">
                        <button mat-raised-button class="search-batn">Send Message</button>
                    </div>
                </div>
                <!-- input and button div close -->
            </div>
            <!-- input and button div close -->
        </div>
        <!-- help for start close -->

    </div>
    <!-- Messages History table close -->
</div>
<!-- Courses support div close -->