<div class="page-container-div">

    <p class="my-result-heading">My Assignments</p>


    <!-- Result Statistics -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Assignment Statistics</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line "></p>
                </div>
            </div>

        </div>


        <div class="card-grid-div">

            <!-- First Card -->
            <mat-card>

                <div class="card-top">

                    <div>
                        <img src="../assets/Financial/img1.png" alt="" class="img_first">
                    </div>
                    <div>
                        <img src="../assets/Financial/stoke.png" alt="" class="img_second">
                    </div>

                </div>

                <div class="card-down">

                    <p class="card-medium">3</p>

                    <p class="card-bottom">Course Assignments</p>

                </div>

            </mat-card>

            <!-- Second Card -->
            <mat-card>

                <div class="card-top">

                    <div>
                        <img src="../assets/Financial/img2.png" alt="" class="img_first">
                    </div>
                    <div>
                        <img src="../assets/Financial/stoke.png" alt="" class="img_second">
                    </div>
                </div>

                <div class="card-down">

                    <p class="card-medium">1</p>

                    <p class="card-bottom">Pending Review</p>

                </div>

            </mat-card>

            <!-- Third Card -->
            <mat-card>

                <div class="card-top">

                    <div>
                        <img src="../assets/Financial/img3.png" alt="" class="img_first">
                    </div>
                    <div>
                        <img src="../assets/Financial/stoke.png" alt="" class="img_second">
                    </div>

                </div>

                <div class="card-down">

                    <p class="card-medium">1</p>

                    <p class="card-bottom">Passed</p>

                </div>

            </mat-card>

            <!-- Fourth Card -->
            <mat-card>

                <div class="card-top">

                    <div>
                        <img src="../assets/Financial/img1.png" alt="" class="img_first">
                    </div>
                    <div>
                        <img src="../assets/Financial/stoke.png" alt="" class="img_second">
                    </div>
                </div>

                <div class="card-down">

                    <p class="card-medium">1</p>

                    <p class="card-bottom">Failed </p>

                </div>

            </mat-card>

        </div>

    </div>


    <!-- Filter Results -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Filter Assignments</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>

        </div>


        <div class="form-div">

            <div class="form-row">

                <div class="in-form-row">
                    <mat-label class="form-input-label">From </mat-label><br />

                    <div class="calendar-input-field">

                        <mat-form-field appearance="outline" class="form-field">

                            <img src="../../assets/Quizzes/Group 340247.png" alt="" class="calendar-img">

                            <input matInput class="input">

                        </mat-form-field>

                    </div>

                </div>

                <div class="in-form-row">
                    <mat-label class="form-input-label">To</mat-label><br />

                    <div class="calendar-input-field">

                        <mat-form-field appearance="outline" class="form-field">

                            <img src="../../assets/Quizzes/Group 340247.png" alt="" class="calendar-img">

                            <input matInput class="input">

                        </mat-form-field>

                    </div>

                </div>


            </div>

            <div class="form-row">

                <div class="in-form-row">
                    <mat-label class="form-input-label"> Course type </mat-label><br />
                    <div class="mt2">
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-select class="select_in">
                                <mat-option value="red">Red</mat-option>
                                <mat-option value="green">Green</mat-option>
                                <mat-option value="blue">Blue</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="in-form-row">
                    <mat-label class="form-input-label">Sort by </mat-label><br />
                    <div class="mt2">
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-select class="select_in">
                                <mat-option value="red">Red</mat-option>
                                <mat-option value="green">Green</mat-option>
                                <mat-option value="blue">Blue</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>


            </div>

            <!-- <div class="form-row"> -->


            <div class="in-form-row button-div">
                <button mat-raised-button class="show-result-button">Show Results</button>
            </div>


            <!-- </div> -->

        </div>
    </div>


    <!-- My quizzes -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>My Assignments</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>

            <div class="text-with-toggle-div">
                <!-- <p>Show only open results</p> -->
                <!-- <mat-slide-toggle></mat-slide-toggle> -->
            </div>

        </div>


        <div class="quizzer-table-div">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Instructor Column -->
                <ng-container matColumnDef="instructor">
                    <th mat-header-cell *matHeaderCellDef> Title/Course </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="td-div">
                            <img [src]="element.instructor.img" alt="">
                            <div class="td-text-div">
                                <p class="td-text-p1"> {{element.instructor.text}}</p>

                                <p class="td-text-p2"> {{element.instructor.Text}}</p>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Quiz Column -->
                <ng-container matColumnDef="quiz">
                    <th mat-header-cell *matHeaderCellDef> Deadline </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="td-text-div">
                            <p class="td-text-p1"> {{element.quiz.text}}</p>

                            <p class="td-text-p2"> {{element.quiz.Text}}</p>
                        </div>
                    </td>
                </ng-container>

                <!-- Quiz Grade Column -->
                <ng-container matColumnDef="quizGrade">
                    <th mat-header-cell *matHeaderCellDef> First Submission </th>
                    <td mat-cell *matCellDef="let element" class="reg-12"> {{element.quizGrade}} </td>
                </ng-container>

                <!-- My Grade Column -->
                <ng-container matColumnDef="myGrade">
                    <th mat-header-cell *matHeaderCellDef> Last Submission </th>
                    <td mat-cell *matCellDef="let element" class="reg-12"> {{element.myGrade}} </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"
                        [ngClass]="element.status.text == 'Passed' ? 'quizzer-text-green' : element.status.text == 'Waiting' ? 'quizzer-text-orange' : 'quizzer-text-red' ">
                        <p>{{element.status.text}} </p>
                        <p class="td-text-p2">{{element.status.Text}} </p>
                    </td>
                </ng-container>

                <!-- Date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="quizzer-date-td">
                            <span> {{element.date}}</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="1.8em" height="1.8em" viewBox="0 0 20 20">
                                <g fill="currentColor">
                                    <circle cx="10" cy="15" r="2" />
                                    <circle cx="10" cy="10" r="2" />
                                    <circle cx="10" cy="5" r="2" />
                                </g>
                            </svg>
                        </div>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>

    </div>


</div>