<!-- meeting popup code starts -->
<div class="centerpartdiv" id="showadd">
    <div class="confirmdelete">
        <!-- pop up div -->
        <div class="upperpart">
            <div class="spandiv">
                <!-- <span class="deletespan">Edit comment</span> -->
            </div>
        </div>
        <!-- p div -->
        <div class="parapart">
            <img src="assets/course-org/error.png" alt="">
            <p class="sure">Are you sure?</p>
            <div class="parasecond">
                <span></span>
                <span></span>
            </div>
            <div class="doyoupart">
                <span>Convert unread messages to read</span>
            </div>
        </div>
        <div class="buttondiv">
            <button mat-raised-button class="btn1" (click)="openPopup_new()">Yes; Mark all as read!</button>
            <button mat-raised-button class="btn2" (click)=" openPopup_new2()">close</button>


        </div>
    </div>
</div>