<div class="result-statistics-div">
    <div class="result-statistics">
        <div class="my-quizzer-heading-div">
            <p>Images</p>

            <div class="quizzers-arrow-line-div">
                <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                <p class="quizzers-pink-line "></p>
            </div>
        </div>

    </div>
<!-- imges div flex start div -->
    <div class="main-cards-flex">
        <div>
            <p class="profile-img-heading">Profile Image</p>
            <img src="assets/setting/Rectangle 4835.png" alt="">
            <div class="identity-field">
          
                <div class="input-and-button-div">
                    <div class="in-form-row-file-3">
                        <label for="hideinput" class="icon-btn">
                            <i class="linkfile-1 fa-solid fa-arrow-up"></i> 
                        <button class="select-img">Select An Image</button>
                    </label>
                        <input hidden type="file" class="input-select" id="hideinput" placeholder="Select An Image">
                    </div>
                </div>
            </div>
        </div>
        <div>
            <p class="profile-img-heading">Profile Cover</p>
            <img src="assets/setting/Rectangle 4835 (1).png" alt="">
            <div class="identity-field">
              
                <div class="upload-input-div">
                    <label for="accessibility" class="upload-image-div">
                        <img src="assets/setting/upload_2.png" alt="">
                    </label>
                    <input hidden type="file" class="input" id="accessibility">
                </div>
                </div>
            </div>
        </div>
    </div>

<!-- imges div flex  end div -->
    
<!-- buttons div  -->
<!-- <div class="btn-class">
    <div>
        <button mat-raised-button class="btnsss-1">Previous</button>
        <button mat-raised-button class="btnsss-2">Next</button>
    </div>
    <div>
        <button mat-raised-button class="btnsss-3" >Delete Account</button>
        <button mat-raised-button class="btnsss-4">Save</button>
    </div>
</div> -->
<!-- buttons div close -->