    <!-- meeting popup code starts -->
    <div class="centerpartdiv"
    id="showadd">
    <div class="confirmdelete">
        <!-- pop up div -->
        <div class="upperpart">
            <div class="spandiv">
                <span class="deletespan med-20">Comment</span>
            </div>
        </div>
        <!-- p div -->
        <div class="parapart">
          
            <p class="reg-16">Course files are not complete !!!</p>
            
            
        </div>
       
    </div>
</div>



