<div>
    <div class="main_rev_div">
      <div class="fleX_gro_1">
        <div class="my2">
          <p class="mt2">Content Quality (19)</p>
          <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
        </div>
        <div class="w_100 my2">
          <p class="mt2">Instructor Skills (7)</p>
          <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
        </div>
        <div class="w_100 my2">
          <p class="mt2">Purchase worth (8)</p>
          <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </div>
        <div class="my2">
          <p class="mt2">Support Quality (0)</p>
          <mat-progress-bar mode="determinate" value="20"></mat-progress-bar>
        </div>
      </div>
  
      <div class="right_div">
        <p class="dol_text">5.00</p>
        <p>
          <i class="fa-solid fa-star star_div"></i>
          <i class="fa-solid fa-star star_div"></i>
          <i class="fa-solid fa-star star_div"></i>
          <i class="fa-regular fa-star"></i>
          <i class="fa-regular fa-star"></i>
        </p>
        <p class="rev_text">1 Reviews</p>
      </div>
    </div>
    <!-- review section start -->
    <div>
      <h2 class="type_text">Reviews</h2>
  
      <mat-label>Reviews(12)</mat-label>
      <div class="my2">
        <mat-form-field appearance="outline" class="w100">
          <textarea matInput rows="5" cols="30" name="abcdef"></textarea>
        </mat-form-field>
      </div>
      <mat-card class="my15">
        <mat-card-content>
          <div class="conte_flex">
            <div>
              <mat-card-title>Content Quality</mat-card-title>
              <p class="m0">
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-regular fa-star star_div"></i>
                <i class="fa-regular fa-star"></i>
              </p>
            </div>
            <div>
              <mat-card-title>Content Quality</mat-card-title>
              <p class="m0">
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-regular fa-star star_div"></i>
                <i class="fa-regular fa-star"></i>
              </p>
            </div>
            <div>
              <mat-card-title>Content Quality</mat-card-title>
              <p class="m0">
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-regular fa-star star_div"></i>
                <i class="fa-regular fa-star"></i>
              </p>
            </div>
            <div>
              <mat-card-title>Content Quality</mat-card-title>
              <p class="m0">
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-solid fa-star star_div"></i>
                <i class="fa-regular fa-star star_div"></i>
                <i class="fa-regular fa-star"></i>
              </p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
      <button mat-stroked-button class="post_btn">Post Reviews</button>
    </div>
    <!-- review section end -->
    <!-- last section start -->
  
    <div class="my15">
      <mat-card class="pad_div_st">
        <mat-card-content class="p0">
          <div class="flex_repl_div">
            <div class="flex align_center gap">
              <img mat-card-image src="assets/images/cat_i1.png" alt="icone1" />
              <div>
                <p class="rot_text m0">Robert Ransdell</p>
                <p class="m0">
                  <i class="fa-solid fa-star star_div"></i>
                  <i class="fa-solid fa-star star_div"></i>
                  <i class="fa-solid fa-star star_div"></i>
                  <i class="fa-regular fa-star star_div"></i>
                  <i class="fa-regular fa-star"></i>
                </p>
              </div>
            </div>
            <div class="flex align_center justify-center">
              9 Jul 2021 | 16:40 <mat-icon>more_vert</mat-icon>
            </div>
          </div>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum is simply dummy text of the printing
            and typesetting industry.
          </p>
        </mat-card-content>
        <div class="my2">
          <mat-form-field appearance="outline" class="w100">
            <textarea matInput rows="5" cols="30" name="abcd"></textarea>
          </mat-form-field>
        </div>
        <mat-card-footer class="my15">
          <button mat-stroked-button class="post_btn">Reply</button>
          <button mat-stroked-button class="clo_btn">Close</button>
          <!-- <button mat-stroked-button class="post_btn">Close</button> -->
        </mat-card-footer>
      </mat-card>
    </div>
    <!-- last section end -->
  </div>