<div class="main-payout">
    <div class="charge">
        <span>Payout</span>
    </div>
    <!-- sub hedaing  -->
    <div class="sub-heading-div">
        <p class="sub-heading">Account summary</p>
        <div class="arrow-line-div">
            <i class="fa-solid fa-caret-right"></i>
            <p class="arrow-line"></p>
        </div>
    </div>
    <!-- sub hedaing close -->
    <!--cards-->
    <div class="card-grid-div">
        <!-- First Card -->
        <mat-card>
            <div class="card-top">
                <div>
                    <img src="../assets/Financial/img1.png" alt="" class="img_first">
                </div>
                <div>
                    <img src="../assets/Financial/stoke.png" alt="" class="img_second">
                </div>
            </div>
            <div class="card-down">
                <p class="card-medium">$251.40</p>
                <p class="card-bottom">Account charge</p>
            </div>
        </mat-card>
        <!-- Second Card -->
        <mat-card>
            <div class="card-top">
                <div>
                    <img src="../assets/Financial/img2.png" alt="" class="img_first">
                </div>
                <div>
                    <img src="../assets/Financial/stoke.png" alt="" class="img_second">
                </div>
            </div>
            <div class="card-down">
                <p class="card-medium">$46.50</p>
                <p class="card-bottom">Ready to payout</p>
            </div>
        </mat-card>
        <!-- Third Card -->
        <mat-card>
            <div class="card-top">
                <div>
                    <img src="../assets/Financial/img3.png" alt="" class="img_first">
                </div>
                <div>
                    <img src="../assets/Financial/stoke.png" alt="" class="img_second">
                </div>
            </div>
            <div class="card-down">
                <p class="card-medium">$46.50</p>
                <p class="card-bottom">Total income</p>
            </div>
        </mat-card>


    </div>
    <!--end cards-->


    <!-- card start -->
    <mat-card class="outer-instructor">
        <button mat-raised-button>Request Payout</button>
        <!-- <i class="fa-regular fa-circle-down text-xl text-end p-4 "></i> -->
        <mat-card-content class="inner-instructor  ">
            <img src="assets/Financial/Group 340281.png" alt="" class="img-course">
            <p class="heading-content-instructor">
                Your payout list is empty! </p>
            <p class="content-instructor">
                You can request payout if your balance is more than minimum payout amount.</p>



        </mat-card-content>
    </mat-card>
    <!-- card end -->
</div>