<div class="page-container-div">

    <p class="my-result-heading">Completion Certificates</p>


    <!-- Filter Results -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>Filter Certificates</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>

        </div>


        <div class="form-div">

            <div class="form-row">

                <div class="in-form-row">
                    <mat-label class="form-input-label">From </mat-label>

                    <div class="calendar-input-field">

                        <mat-form-field appearance="outline" class="form-field">

                            <img src="assets/Store/Group 340247.png" alt="" class="calendar-img">

                            <input matInput class="input">

                        </mat-form-field>

                    </div>

                </div>

                <div class="in-form-row">
                    <mat-label class="form-input-label">To </mat-label>

                    <div class="calendar-input-field">

                        <mat-form-field appearance="outline" class="form-field">

                            <img src="assets/Store/Group 340247.png" alt="" class="calendar-img">

                            <input matInput class="input">

                        </mat-form-field>

                    </div>

                </div>


            </div>

            <div class="form-row">

                <div class="in-form-row course-input">
                    <mat-label class="form-input-label"> Course </mat-label>
                    <div class="mt2">
                        <mat-form-field appearance="outline" class="form-field">
                            <input matInput class="input">
                        </mat-form-field>
                    </div>
                </div>

                <div class="in-form-row button-div">
                    <button mat-raised-button class="show-result-button">Show Results</button>
                </div>

            </div>

        </div>

    </div>


    <!-- My certificates -->
    <div class="result-statistics-div">
        <div class="result-statistics">
            <div class="my-quizzer-heading-div">
                <p>My certificates</p>

                <div class="quizzers-arrow-line-div">
                    <mat-icon class="mat-18 quizzers-arrow-icon">play_arrow</mat-icon>
                    <p class="quizzers-pink-line m0"></p>
                </div>
            </div>

        </div>


        <div class="my-comment-div">

            <div class="my-comment-img-div">
                <img src="assets/Store/Group 340281.png" alt="" class="my-comment-image">
            </div>

            <div class="my-comment-p-div">
                <p class="med-24">You didn't create any comments!</p>
                <p class="reg-16">Your comments will help to improve community quality...</p>
            </div>

        </div>

    </div>


</div>