    <!-- meeting popup code starts -->
    <div class="centerpartdiv"
    id="showadd">
    <div class="confirmdelete">
        <!-- pop up div -->
        <div class="upperpart">
            <div class="spandiv">
                <!-- <span class="deletespan">Confirm delete</span> -->
            </div>
        </div>
        <!-- p div -->
        <div class="parapart">
            <img src="../../assets/images/error.png" alt="">
            <p>Do you want to finish meeting?</p>
            <div class="parasecond">
                <span></span>
                <span></span>
            </div>
            <div class="doyoupart">
                <span>This action couldnt be undone.</span>
            </div>
        </div>
        <div class="buttondiv">
            <button mat-raised-button class="btn1" color=""  (click)="successfullpopup();remove()" >Yes, finish it!</button>
            <button mat-raised-button color="" class="btn2" (click)="openPopup_new()">Close</button>


        </div>
    </div>
</div>



