    <!-- meeting popup code starts -->
    <div class="centerpartdiv"
    id="showadd">
    <div class="confirmdelete">
        <!-- pop up div -->
        <div class="upperpart">
            <div class="spandiv">
                <span class="deletespan">Installment verification request approved</span>
            </div>
        </div>
        <!-- p div -->
        <div class="parapart">
          
            <p class="date">3 Jun 2023 | 05:04</p>
            <p class="your-verfi">Your verification request for Installment payment On Christmas approved</p>
            
            
        </div>
       
    </div>
</div>



